<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/assets/icons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <title>Diciembre En Contra</title>
    <meta name="title" content="Diciembre En Contra" />
    <meta
      name="description"
      content="Un grupo de patriotas auto-convocados por la necesidad deducida de evitar la continua destruccion de Chile. Diciembre En Contra"
    />
    <meta
      name="keywords"
      content="Diciembre En Contra, Rechazo Nueva Constitucion, Coronel Martinez, Patriotas"
    />

    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Muchos Patriotas" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8;" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="canonical" href="http://www.diciembreencontra.cl/" />

    <meta http-equiv="Cache-Control" content="private" />
    <meta http-equiv="Cache-Control" content="max-age=86400" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <script type="module" src="/js/main.js"></script>
    <script src="/common/include.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V01PXY5R8J"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-V01PXY5R8J");
    </script>
  </head>
  <body>
    <div data-include="/includes/header-en-blanco.html"></div>
    <main>
      <div class="apoderados">
        <div class="apoderados__container">
          <div class="apoderados__encabezado">
            <p class="apoderados__encabezado__titulo">
              Registro de Apoderados Generales
            </p>
          </div>
          <div class="apoderados__content">
            <div class="apoderados__secciones">
              <p>
                <a class="navlink__lg" href="#introduccion">Introducción</a>
              </p>
              <p>
                <a class="navlink__lg" href="#registro">Registro</a>
              </p>
              <p>
                <a class="navlink__lg" href="#personales">Datos Personales</a>
              </p>
              <p>
                <a class="navlink__lg" href="#contacto">Datos de Contacto</a>
              </p>
              <p>
                <a class="navlink__lg" href="#local">Comuna de Votacion</a>
              </p>
              <p>
                <a class="navlink__lg-red" href="#importante">Importante</a>
              </p>
            </div>
            <div class="apoderados__registro">
              <section id="introduccion" class="borde-blanco-destacado">
                <p class="apoderados__registro__titulo">Introduccion</p>
                <p class="apoderados__registro__texto">
                  A traves de los siguiente parrafos, le orientaremos y
                  ayudaremos a registrase correctamente.
                </p>
                <p class="apoderados__registro__texto-rojo">
                  Recuerde que nosotros no solicitamos dinero. Como tampoco
                  recibimos dinero. Bajo ningun concepto.
                </p>
              </section>
              <section id="registro" class="borde-blanco-destacado">
                <p class="apoderados__registro__titulo">Registro</p>
                <p class="apoderados__registro__texto">
                  A continuacion le solicitaremos tanto sus
                  <b>Datos Personales</b>, sus <b>Datos de Contacto</b>, como
                  tambien la informacion correspondiente a
                  <b>la comuna de su Local de Votacion</b>.
                </p>
                <p class="apoderados__registro__texto">
                  Esta informacion esta protegida por la
                  <b>Ley de Proteccion de Datos Personales</b> (Nro. 19.628 de
                  1999). Cualquier duda, rogamos consultar los Terminos de Uso
                  de este sitio, en el vinculo presente al pie de cada pagina de
                  este portal.
                </p>
              </section>
              <section id="personales" class="borde-blanco-destacado">
                <p class="apoderados__registro__titulo">Datos Personales</p>
                <p class="apoderados__registro__texto">
                  Esta informacion es esencial para nosotros. Ya que es quizas
                  una de las pocas formas de evaluar adecuadamentemente, a cada
                  una de las personas que se registren.
                </p>
                <p class="apoderados__registro__texto">
                  Si usted no esta de acuerdo con realizar un registro con la
                  transperencia que nosotros necesitamos, le sugerimos a usted
                  que por favor, se registre en otros portales similares.
                </p>
                <div class="apoderados__datos_personales">
                  <div>
                    <label htmlFor="nombres" class="form-label form-label-sm">
                      Nombres
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="nombres"
                      name="nombres"
                      placeholder="Ingrese Nombres"
                      title="Ingrese solo letras y espacion en blanco"
                      pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$"
                      required
                    />
                  </div>
                  <div>
                    <label htmlFor="paterno" class="form-label form-label-sm">
                      Apellido Paterno
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="paterno"
                      name="paterno"
                      placeholder="Ingrese su Apellido Paterno"
                      title="Ingrese solo letras y espacion en blanco"
                      pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$"
                      required
                    />
                  </div>
                  <div>
                    <label htmlFor="materno" class="form-label form-label-sm">
                      Apellido Materno
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="materno"
                      name="materno"
                      placeholder="Ingrese su Apellido Materno"
                      title="Ingrese solo letras y espacion en blanco"
                      pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$"
                      required
                    />
                  </div>
                  <div>
                    <label htmlFor="rut" class="form-label form-label-sm">
                      Carnet Identidad
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="rut"
                      name="rut"
                      placeholder="Numero de Carnet"
                    />
                  </div>
                </div>
              </section>
              <section id="contacto" class="borde-blanco-destacado">
                <p class="apoderados__registro__titulo">Datos de Contacto</p>
                <p class="apoderados__registro__texto">
                  Le solicitamos que ingrese la informacion de su
                  <b>Correo Electronico</b> y/o <b>Numero de Celular</b>, ya que
                  necesitaremos un medio de comunicacion con usted, antes dudas,
                  coordinaciones u otra, segun nos sea necesario.
                </p>
                <div class="apoderados__datos_contacto">
                  <div>
                    <label htmlFor="correo" class="form-label form-label-sm">
                      Casilla de Correo
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="correo"
                      name="correo"
                      placeholder="Casilla de Correo"
                      title="Ingrese una casilla de correo valida"
                      pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                      required
                    />
                  </div>
                  <div>
                    <label htmlFor="celular" class="form-label form-label-sm">
                      Celular
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="celular"
                      name="celular"
                      placeholder="Numero Celular"
                    />
                  </div>
                </div>
              </section>
              <section id="local" class="borde-blanco-destacado">
                <p class="apoderados__registro__titulo">
                  Datos de SU COMUNA de Votacion de Mayo-2023
                </p>
                <p class="apoderados__registro__texto">
                  Con esta informacion podremos hacer una mejor administracion
                  de las personas que se registren.
                </p>
                <p class="apoderados__registro__texto">
                  Se socilitara (1) La Region, y luego (2) La Comuna, de su
                  lugar de votacion.
                </p>
                <p class="apoderados__registro__texto">
                  Esto nos permite una mejor administracion de las personas que
                  se registren. A la espera de la informacion definitiva que
                  entregue el SERVEL (estimativamente Octubre-2023).
                </p>
                <div class="apoderados__datos_comuna">
                  <div>
                    <label class="form-label form-label-sm">Region</label>
                    <div>
                      <select
                        title="regiones"
                        class="regiones_select form-select form-select-sm"
                        id="regiones_select"
                      ></select>
                    </div>
                    <p class="apoderados__registro__texto" style="color: red">
                      PRIMERO seleccione la REGION
                    </p>
                  </div>
                  <div>
                    <label class="form-label form-label-sm">Comunas</label>
                    <div>
                      <select
                        title="comunas"
                        class="comunas_select form-select form-select-sm"
                        id="comunas_select"
                      ></select>
                    </div>
                    <p class="apoderados__registro__texto" style="color: red">
                      LUEGO, seleccione la COMUNA
                    </p>
                  </div>
                </div>
              </section>
              <div class="apoderados__bloque centrado">
                <button id="aceptar" class="boton-generico3" type="submit">
                  Aceptar
                </button>
              </div>
              <div class="contact-form-response none">
                <p>Los datos han sido enviados</p>
              </div>
              <section id="importante" class="borde-blanco-destacado">
                <p class="apoderados__registro__titulo">Importante</p>
                <p class="apoderados__registro__texto">
                  Puede comunicaciones con nosotros a traves de los siguientes
                  medios :
                </p>
                <ul class="ul-circle">
                  <li>
                    <p class="apoderados__registro__texto">
                      Mediante un mensaje WhatsApp al numero +569 3776 8211
                    </p>
                  </li>
                  <li>
                    <p class="apoderados__registro__texto">
                      Mediante un correo a la casilla electronica
                      diciembreencontra@gmail.com
                    </p>
                  </li>
                  <li>
                    <p class="apoderados__registro__texto">
                      Nos comprometemos a responderle tan pronto como nos sea
                      posible.
                    </p>
                  </li>
                </ul>
                <p class="apoderados__registro__texto">
                  La informacion definitiva referente a los lugares de votacion
                  como a las mesas, el SERVEL habitualmente la entrega (aprox.)
                  un mes antes del dia de votacion.
                </p>
                <p class="apoderados__registro__texto">Por tal motivo:.</p>
                <ul class="ul-circle">
                  <li>
                    <p class="apoderados__registro__texto">
                      Solo le estamos solicitando su Comuna.
                    </p>
                    <p class="apoderados__registro__texto">
                      Posterior y oportunamente nosotros lo llamaremos para
                      coordinar su destinacion definitiva.
                    </p>
                    <p class="apoderados__registro__texto">
                      Es decir, una vez que ya tengamos las Mesas definitivas
                      informadas por el SERVEL.
                    </p>
                  </li>
                </ul>
                <p class="apoderados__registro__texto">
                  Capacitacion a nuestros Apoderados Generales y Apoderados de
                  Mesa:
                </p>
                <ul class="ul-circle">
                  <li>
                    <p class="apoderados__registro__texto">
                      A traves de este sitio informaremos los Videos YouTube que
                      estamos preparando para atl efecto.
                    </p>
                  </li>
                  <li>
                    <p class="apoderados__registro__texto">
                      Estos Videos YouTube esta orientados para (a) Capacitacion
                      Basica, (b) Capacitacion Intermedia, (c) Capacitacion
                      Avanzada y (d) Fraudes mas habtuales.
                    </p>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div data-include="/includes/footer-nuevo.html"></div>
    <script src="/js/regiones_comunas_select.js"></script>
    <script>
      async function graba(data) {
        let apoderadosAPI =
          "https://zkt7kkizv4.execute-api.us-east-1.amazonaws.com/prod/putnuevoapoderado";

        let datos = JSON.stringify(data);
        let options = {
          method: "POST",
          body: datos,
          headers: {
            "content-type": "application/json; charset=utf-8",
          },
        };

        let res = await fetch(apoderadosAPI, options)
          .then((res) =>
            res.ok
              ? res.json()
              : Promise.reject({
                  err: true,
                  status: res.status || "00",
                  statusText: res.statusText || "Ocurrio un Error",
                })
          )
          .catch((err) => console.log(err));
      }

      document.getElementById("aceptar").onclick = function () {
        const Apoderados_nombres = document.getElementById("nombres").value;
        const Apoderados_paterno = document.getElementById("paterno").value;
        const Apoderados_materno = document.getElementById("materno").value;
        const Apoderados_rut = document.getElementById("rut").value;
        const Apoderados_dv = document.getElementById("rut").value;
        const Apoderados_correo = document.getElementById("correo").value;
        const Apoderados_celular = document.getElementById("celular").value;
        const Apoderados_region =
          document.getElementById("regiones_select").value;
        const Apoderados_comuna =
          document.getElementById("comunas_select").value;

        let rutpaso = Apoderados_rut.trim();
        let rutpaso2 = rutpaso.replace(/-/g, "");
        let rutpaso3 = rutpaso2.replace(/\./g, "");
        let largo = rutpaso3.length;
        let cuerpo = rutpaso3.substring(0, largo - 1);
        let digito = rutpaso3.substring(largo - 1, largo);

        let data = {
          RUT: cuerpo,
          DV: digito,
          NOMBRES: Apoderados_nombres,
          APELLIDO_PATERNO: Apoderados_paterno,
          APELLIDO_MATERNO: Apoderados_materno,
          TELEFONO_MOVIL: Apoderados_celular,
          EMAIL: Apoderados_correo,
          TIPO_LOCAL_MESA: "1",
          CODIGO_REGION_VOTA: Apoderados_region,
          CODIGO_COMUNA_VOTA: Apoderados_comuna,
          CODIGO_LOCAL_VOTA: "0",
          MESA_VOTA: "0",
          PREFERENCIA_APODERADO: 0,
        };

        let res = graba(data);
        alert("Datos Registrados");
        window.location = "/";
      };
    </script>
  </body>
</html>
