<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/assets/icons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <title>Diciembre En Contra</title>
    <meta name="title" content="Diciembre En Contra" />
    <meta
      name="description"
      content="Un grupo de patriotas auto-convocados por la necesidad deducida de evitar la continua destruccion de Chile. Diciembre En Contra"
    />
    <meta
      name="keywords"
      content="Diciembre En Contra, Rechazo Nueva Constitucion, Coronel Martinez, Patriotas"
    />

    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Muchos Patriotas" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8;" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="canonical" href="http://www.diciembreencontra.cl/" />

    <meta http-equiv="Cache-Control" content="private" />
    <meta http-equiv="Cache-Control" content="max-age=86400" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <script type="module" src="/js/main.js"></script>
    <script src="/common/include.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V01PXY5R8J"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-V01PXY5R8J");
    </script>
  </head>
  <body>
    <div data-include="/includes/header-en-blanco.html"></div>
    <main>
      <div class="bordes_detalle">
        <div class="bordes_detalle__container">
          <div class="bordes_detalle__content">
            <div>
              <div class="bordes__avance-retroceso">
                <div class="izquierda">
                  <button id="anterior" class="boton-generico2" type="button">
                    Borde Anterior
                  </button>
                </div>
                <div class="derecha">
                  <button id="siguiente" class="boton-generico2" type="button">
                    Borde Siguiente
                  </button>
                </div>
              </div>
              <div>
                <p class="bordes_detalle__title">
                  Bases Institucionales del Acuerdo por Chile
                </p>
                <p class="bordes_detalle__subtitle">
                  (incluidas en Ley 21.533 del 17.01.2023)
                </p>
              </div>
            </div>
            <div class="bordes_detalle__cuerpo">
              <div class="borde">
                <p class="bordes_detalle__numeral">Borde Nro. 5</p>
                <p class="bordes_detalle__parrafo">Texto del Acuerdo :</p>
                <p class="bordes_detalle__numeral-texto">
                  Chile es un Estado social y democrático de derecho, cuya
                  finalidad es promover el bien común; que reconoce derechos y
                  libertades fundamentales, y que promueve el desarrollo
                  progresivo de los derechos sociales, con sujeción al principio
                  de responsabilidad fiscal y a través de instituciones
                  estatales y privadas.
                </p>
                <p class="bordes_detalle__vinculo_ley">
                  Articulo 154, Numero 5. Ley 21.533 del 17.01.2023.
                </p>
              </div>
              <div class="bordes_detalle__data">
                <p class="bordes_detalle__parrafo">
                  Comentarios y Observaciones
                </p>
                <div class="bordes_detalle__comentarios grid">
                  <ul class="ul-circle">
                    <li>
                      <p class="texto">
                        No es sinonimo de Bien Comun, el concepto de Estado
                        Social y Democratico de Derecho. Entre ambos conceptos
                        no existe ni se puede lograr una sintesis, solo una
                        posible simbiosis.
                      </p>
                    </li>
                    <li>
                      <p class="texto">
                        El desarrollo progresivo de derechos sociales
                        significaria la ampliacion sistematica e ilimitada en el
                        tiempo, sin una definicion de los perfiles y la forma de
                        expansion del mismo derecho, pudiendo dervirtuarse segun
                        el interes politico de turno.
                      </p>
                    </li>
                    <li>
                      <p class="texto">Estado Social</p>
                      <ul>
                        <li>
                          <p class="texto">
                            Es donde los Medios de Produccion se distribuyen de
                            manera equitativa entre los distintos miembros de la
                            sociedad, pero quien define esta equidad, es el
                            gobierno de turno (el Poder Civil).
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p class="texto">Estado Democratico</p>
                      <ul>
                        <li>
                          <p class="texto">
                            Es donde la gobernanza interna la tienen los
                            Partidos Politicos y la Sociedad Civil (todos
                            nosotros) no tiene ninguna ingerencia y por lo tanto
                            no existe, ya que son los Partidos Politicos son los
                            que mandan.
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p class="texto">Estado de Derecho</p>
                      <ul>
                        <li>
                          <p class="texto">
                            Es aquel que toda la entrega de la provision del
                            Estado a la Persona, esta regulada por Ley.
                          </p>
                          <p class="texto">
                            De esta forma, las Personas no tienen ningun Derecho
                            por el Iusnaturalimo, es decir, ningun Derecho por
                            el simple hecho de ser persona.
                          </p>
                          <p class="texto">
                            Los Derechos se tienen si y solo si, el Estado los
                            reconoce.
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div data-include="/includes/footer-nuevo.html"></div>
    <script type="text/javascript">
      document.getElementById("anterior").onclick = function () {
        location.href = "/borde_03";
      };
      document.getElementById("siguiente").onclick = function () {
        location.href = "/borde_06";
      };
    </script>
  </body>
</html>
