<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/assets/icons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <title>Diciembre En Contra</title>
    <meta name="title" content="Diciembre En Contra" />
    <meta
      name="description"
      content="Un grupo de patriotas auto-convocados por la necesidad deducida de evitar la continua destruccion de Chile. Diciembre En Contra"
    />
    <meta
      name="keywords"
      content="Diciembre En Contra, Rechazo Nueva Constitucion, Coronel Martinez, Patriotas"
    />

    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Muchos Patriotas" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8;" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="canonical" href="http://www.diciembreencontra.cl/" />

    <meta http-equiv="Cache-Control" content="private" />
    <meta http-equiv="Cache-Control" content="max-age=86400" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <script type="module" src="/js/main.js"></script>
    <script src="/common/include.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V01PXY5R8J"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-V01PXY5R8J");
    </script>
  </head>
  <body>
    <div data-include="/includes/header-en-blanco.html"></div>
    <main>
      <div class="terminos section">
        <div class="terminos__container">
          <div class="terminos__content grid">
            <div>
              <aside class="scroll-spy__panel">
                <p class="titulo-xxl">Privacidad y Confidencialidad</p>
                <nav class="scroll-spy__menu">
                  <a href="#seccion1" data-scroll-spy
                    >Aceptacion de nuestros Terminos</a
                  >
                  <a href="#seccion2" data-scroll-spy>Codigo de Conducta</a>
                  <a href="#seccion3" data-scroll-spy
                    >Contratacion de Servicios</a
                  >
                  <a href="#seccion4" data-scroll-spy>
                    Derecho de Monitoreo y de Control Editorial</a
                  >
                  <a href="#seccion5" data-scroll-spy>Derechos de Propiedad</a>
                  <a href="#seccion6" data-scroll-spy>Foros Publicos</a>
                  <a href="#seccion7" data-scroll-spy
                    >Informacion privada o delicada en Foros Publicos</a
                  >
                  <a href="#seccion8" data-scroll-spy
                    >Legislacion aplicable, jurisdiction competente y
                    notificaciones</a
                  >
                  <a href="#seccion9" data-scroll-spy>Licencia Limitada</a>
                  <a href="#seccion10" data-scroll-spy
                    >Limitacion de Responsabilidad</a
                  >
                  <a href="#seccion11" data-scroll-spy>Marcas Comerciales</a>
                  <a href="#seccion12" data-scroll-spy
                    >Modificaciones del Sitio</a
                  >
                  <a href="#seccion13" data-scroll-spy
                    >Obligaciones del Usuario</a
                  >
                  <a href="#seccion14" data-scroll-spy
                    >Politica de envio de ideas no solicitadas</a
                  >
                  <a href="#seccion15" data-scroll-spy>Prohibiciones de Uso</a>
                  <a href="#seccion16" data-scroll-spy
                    >Propiedad Intelectual e Industrial</a
                  >
                  <a href="#seccion17" data-scroll-spy>Renuncia de Garantias</a>
                  <a href="#seccion18" data-scroll-spy
                    >Responsabilidad del Portal</a
                  >
                  <a href="#seccion19" data-scroll-spy
                    >Termino del Servicios del Portal</a
                  >
                  <a href="#seccion20" data-scroll-spy>Introduccion</a>
                  <a href="#seccion21" data-scroll-spy
                    >Vinculos a otros Sitios</a
                  >
                </nav>
              </aside>
            </div>
            <div>
              <section
                id="seccion1"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Aceptacion de nuestros Terminos
                </p>
                <p class="scroll-spy__section__texto">
                  Las presentes condiciones generales de uso del portal regulan
                  el acceso y la utilización del portal, incluyendo los
                  contenidos y los servicios puestos a disposición de los
                  usuarios en y/o a través del portal, bien por el portal, bien
                  por sus usuarios, bien por terceros.
                </p>
                <p class="scroll-spy__section__texto">
                  No obstante, el acceso y la utilización de ciertos contenidos
                  y/o servicios puede encontrarse sometido a determinadas
                  condiciones específicas.
                </p>
                <p class="scroll-spy__section__texto">
                  El mero acceso y/o utilización del portal, de todos o parte de
                  sus contenidos y/o servicios significa la plena aceptación de
                  las presentes condiciones generales de uso
                </p>
              </section>
              <section
                id="seccion2"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">Codigo de Conducta</p>
                <p class="scroll-spy__section__texto">
                  Usted garantiza y está de acuerdo en que, mientras use el
                  Sitio Web y los diversos servicios y artículos que se ofrecen
                  en o a través del Sitio Web, usted no:
                </p>
                <ul class="ul-circle">
                  <li>
                    <p class="scroll-spy__section__texto">
                      personalizará a ninguna persona o entidad ni desvirtuará
                      su afiliación con alguna otra persona o entidad;
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      insertará su propio anuncio, posicionamiento de marca o
                      algún otro contenido promocional o el de un tercero en
                      cualquiera de los contenidos, materiales o servicios o
                      materiales del Sitio Web (por ejemplo, sin limitación, en
                      una actualización RSS o en un programa de radio grabado
                      (podcast) recibido de La Empresa o de algún otro modo a
                      través del Sitio Web), ni usará, redistribuirá,
                      republicará o explotará dichos contenidos o servicios con
                      cualquier otro propósito adicional comercial o
                      promocional;
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      intentará ganar acceso no autorizado a otros sistemas de
                      cómputo a través del Sitio Web. Usted no:
                    </p>
                  </li>
                  <ul class="ul-roman-sm">
                    <li>
                      <p class="scroll-spy__section__texto">
                        participará en navegar por la red, en "raspar (scraping)
                        la pantalla", "raspar (scraping) la base de datos", en
                        recolectar direcciones de correo electrónico,
                        direcciones inalámbricas u otra información personal o
                        de contactos, o cualquier otro medio automático de
                        obtener listas de usuarios u otra información de o a
                        través del sitio Web o de los servicios ofrecidos en o a
                        través del Sitio Web, incluyendo, sin limitación,
                        cualquier información que se encuentre en algún servidor
                        o base de datos relacionada con el Sitio Web o los
                        servicios ofrecidos en o a través del Sitio Web;
                      </p>
                    </li>
                    <li>
                      <p class="scroll-spy__section__texto">
                        obtendrá o intentará obtener acceso no autorizado a los
                        sistemas de cómputo, materiales o información por
                        cualquier medio;
                      </p>
                    </li>
                    <li>
                      <p class="scroll-spy__section__texto">
                        usará el Sitio Web o los servicios puestos a su
                        disposición en o a través del Sitio Web de alguna manera
                        con la intención de interrumpir, dañar, deshabilitar,
                        sobrecargar o deteriorar el Sitio Web o dichos
                        servicios, incluyendo, sin limitación, mandar mensajes
                        masivos no solicitados o "inundar" servidores con
                        solicitudes;
                      </p>
                    </li>
                    <li>
                      <p class="scroll-spy__section__texto">
                        usará el Sitio Web o los servicios o artículos del Sitio
                        Web en violación de la propiedad intelectual o de otros
                        derechos legales o patrimoniales de La Empresa o de
                        algún tercero; ni (v) usará el Sitio Web o los servicios
                        del Sitio Web en violación de cualquier ley aplicable.
                      </p>
                    </li>
                    <li>
                      <p class="scroll-spy__section__texto">
                        usará el Sitio Web o los servicios del Sitio Web en
                        violación de cualquier ley aplicable.
                      </p>
                    </li>
                  </ul>
                </ul>
                <ul>
                  <li>
                    <p class="scroll-spy__section__texto">
                      Usted se obliga además, a no intentar (o alentar o apoyar
                      el intento de otro) a embaucar, destruir, decodificar, o
                      de otro modo alterar o interferir con el Sitio Web o con
                      los servicios del Sitio Web, o con cualquier contenido del
                      mismo, o hacer cualquier uso no autorizado del mismo.
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      Usted se obliga a no usar el Sitio Web de alguna manera
                      que pudiera dañar, deshabilitar, sobrecargar o deteriorar
                      el Sitio Web o interferir con que cualquier otra persona
                      pueda usar o disfrutar del Sitio Web o de cualquiera de
                      sus servicios. Usted no obtendrá ni intentará obtener
                      algún material o información a través de cualquier medio
                      que no haya sido estipulado o puesto a la disposición del
                      público intencionalmente a través del Sitio Web.
                    </p>
                  </li>
                </ul>
              </section>
              <section
                id="seccion3"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Contratacion de Servicios
                </p>
                <p class="scroll-spy__section__texto">
                  La Empresa puede eventualmente, poner ciertos productos y/o
                  servicios a la disposición de visitantes y de usuarios
                  registrados del Sitio Web.
                </p>
                <p class="scroll-spy__section__texto">
                  Si usted ordena cualquier producto, por el presente documento
                  usted representa y garantiza que tiene 18 años de edad o más.
                </p>
                <p class="scroll-spy__section__texto">
                  Se obliga a pagar la totalidad de los precios de cualquier
                  compra que haga, ya sea con tarjeta de crédito/débito
                  concurrente con su orden en línea o por otro medio de pago
                  aceptable para La Empresa
                </p>
                <p class="scroll-spy__section__texto">
                  Usted se obliga a pagar todos los impuestos aplicables.
                </p>
                <p class="scroll-spy__section__texto">
                  Si el pago no es recibido por nosotros de parte del emisor de
                  su tarjeta de crédito o débito o de sus agentes, usted se
                  obliga a pagar todas las cantidades debidas al momento de la
                  reclamación por nuestra parte.
                </p>
                <p class="scroll-spy__section__texto">
                  Algunos productos que usted compra y/o descarga en o a través
                  del Sitio Web pueden estar sujetos a términos y condiciones
                  adicionales que le serán presentados al momento de dicha
                  compra o descarga.
                </p>
              </section>
              <section
                id="seccion4"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Derecho de Monitoreo y de Control Editorial
                </p>
                <p class="scroll-spy__section__texto">
                  La Empresa se reserva el derecho, pero no tiene la obligación,
                  de monitorear y/o revisar todos los materiales enviados al
                  Sitio Web o a través de los servicios o artículos del Sitio
                  Web por los usuarios, y La Empresa no es responsable de dichos
                  materiales enviados por los usuarios
                </p>
                <p class="scroll-spy__section__texto">
                  Sin embargo, La Empresa se reserva el derecho en todo momento
                  de divulgar cualquier información que sea necesaria para
                  satisfacer cualquier ley, reglamento o solicitud
                  gubernamental, o de editar, rehusarse a colocar o a quitar
                  cualquier información o materiales, todos o en parte, que a
                  discreción únicamente de La Empresa sean censurables o en
                  violación de estos Términos de Uso, de las políticas de La
                  Empresa o de la ley aplicable.
                </p>
                <p class="scroll-spy__section__texto">
                  También podemos imponer límites sobre ciertos artículos de los
                  foros o restringir su acceso a parte o a todos los foros sin
                  notificación o sanción, si creemos que usted está en
                  incumplimiento de las directrices establecidas en este
                  párrafo, nuestros términos y condiciones o la ley aplicable, o
                  por cualquier otra razón sin notificación o responsabilidad.
                </p>
              </section>
              <section
                id="seccion5"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">Derechos de Propiedad</p>
                <p class="scroll-spy__section__texto">
                  La Empresa es el dueño único y exclusivo, de todos los
                  derechos, titulo e intereses en y del Sitio Web, de todo el
                  contenido (incluyendo audio, fotografías, ilustraciones,
                  gráficos, otros medios visuales, videos, copias, textos,
                  software, títulos, archivos de Onda de choque, entre otros),
                  códigos, datos y materiales del mismo, el aspecto y el
                  ambiente, el diseño y la organización del Sitio Web y la
                  compilación de los contenidos, códigos, datos y los materiales
                  en el Sitio Web, incluyendo pero no limitado a, cualesquiera
                  derechos de autor, derechos de marca, derechos de patente,
                  derechos de base de datos, derechos morales, derechos sui
                  generis y otras propiedades intelectuales y derechos
                  patrimoniales del mismo.
                </p>
                <p class="scroll-spy__section__texto">
                  El uso del Sitio Web no le otorga propiedad de ninguno de los
                  contenidos, códigos, datos o materiales a los que pueda
                  acceder en o a través del Sitio Web.
                </p>
              </section>
              <section
                id="seccion6"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">Foros Publicos</p>
                <ul>
                  <li>
                    <p class="scroll-spy__section__texto">
                      La Empresa puede, de vez en cuando y en caso de estimarlo
                      adecuado, tener servicios de mensajería, servicios de
                      chateo, tableros de noticias, blogs, otros foros y otros
                      servicios disponibles en o a través del Sitio Web.
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      Además de cualquier otra normatividad y regulación que
                      podamos publicar con respecto a un servicio en particular,
                      usted se obliga a no cargar, informar, transmitir,
                      distribuir o de otra manera publicar a través del Sitio
                      Web o de cualquier servicio o artículo puesto a la
                      disposición en o a través del Sitio Web, cualquier
                      material que:
                    </p>
                  </li>
                </ul>
                <ul class="ul-roman-sm">
                  <li>
                    <p class="scroll-spy__section__texto">
                      restrinja o inhiba a cualquier otro usuario de usar y
                      disfrutar del Sitio Web o de los servicios del Sitio Web,
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      sea fraudulento, ilegal, amenazante, abusivo, hostigante,
                      calumnioso, difamatorio, obsceno, vulgar, ofensivo,
                      pornográfico, profano, sexualmente explícito o indecente,
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      constituya o aliente conductas que pudieran constituir una
                      ofensa criminal, dar lugar a responsabilidad civil o de
                      otro modo violar cualquier ley local, estatal, nacional o
                      internacional,
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      viole, plagie o infrinja los derechos de terceros
                      incluyendo, sin limitación, derechos de autor, marcas
                      comerciales, secretos comerciales, confidencialidad,
                      contratos, patentes, derechos de privacidad o publicidad o
                      cualquier otro derecho de propiedad,
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      contenga un virus, elemento de espionaje u otro componente
                      dañino,
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      contenga enlaces fijos, publicidad, cartas de cadenas o
                      esquemas de pirámides de cualquier tipo, o
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      constituya o contenga indicaciones de origen, endosos o
                      declaraciones de hechos falsos o engañosos. Usted además
                      se obliga a no personificar a cualquier otra persona o
                      entidad, ya sea real o ficticia, incluyendo cualquier
                      persona de La Empresa
                    </p>
                  </li>
                </ul>
                <ul>
                  <li>
                    <p class="scroll-spy__section__texto">
                      Usted tampoco puede ofrecer comprar o vender algún
                      producto o servicio en o a través de sus comentarios
                      presentados en nuestros foros.
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      Solamente usted es responsable del contenido y de las
                      consecuencias de cualquiera de sus actividades.
                    </p>
                  </li>
                </ul>
              </section>
              <section
                id="seccion7"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Informacion privada o delicada en Foros Publicos
                </p>
                <p class="scroll-spy__section__texto">
                  Es importante recordar que los comentarios presentados en un
                  foro pueden ser registrados y almacenados en múltiples
                  lugares, tanto en nuestro Sitio Web como en otra parte en
                  Internet, los cuales pueden ser accesibles durante mucho
                  tiempo y no se tiene control sobre quién los leerá
                  eventualmente
                </p>
                <p class="scroll-spy__section__texto">
                  Es por lo tanto importante que tenga usted cuidado y sea
                  selectivo acerca de la información personal que divulgue
                  acerca de usted y de otros, y en especial, no debe divulgar
                  información delicada, patrimonial o confidencial en sus
                  comentarios en nuestros foros públicos.
                </p>
              </section>
              <section
                id="seccion8"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Legislacion aplicable, jurisdiction competente y
                  notificaciones
                </p>
                <p class="scroll-spy__section__texto">
                  Las presentes condiciones se rigen y se interpretan de acuerdo
                  con las Leyes de Chile. Para cualquier reclamación serán
                  competentes los juzgados y tribunales de la ciudad de
                  Santiago.
                </p>
                <p class="scroll-spy__section__texto">
                  Todas las notificaciones, requerimientos, peticiones y otras
                  comunicaciones que el Usuario desee efectuar a la Empresa
                  titular del Portal deberán realizarse por escrito y se
                  entenderá que han sido correctamente realizadas cuando hayan
                  sido recibidas en la siguiente dirección (indicar dirección de
                  correo en la que se desean recibir las notificaciones).
                </p>
                <p class="scroll-spy__section__texto">
                  En cualquier caso, el portal se reserva todos los derechos
                  sobre los contenidos, información datos y servicios que
                  ostente sobre los mismos. El portal no concede ninguna
                  licencia o autorización de uso al usuario sobre sus
                  contenidos, datos o servicios, distinta de la que expresamente
                  se detalle en las presentes condiciones generales de uso del
                  portal.
                </p>
              </section>
              <section
                id="seccion9"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">Licencia Limitada</p>
                <p class="scroll-spy__section__texto">
                  Usted puede acceder y ver el contenido del Sitio Web desde su
                  computadora o desde cualquier otro aparato y, a menos de que
                  se indique de otra manera en estos Términos y Condiciones o en
                  el Sitio Web, sacar copias o impresiones individuales del
                  contenido del Sitio Web para su uso personal, interno
                  únicamente
                </p>
                <p class="scroll-spy__section__texto">
                  El uso del Sitio Web y de los servicios que se ofrecen en o a
                  través del Sitio Web, son sólo para su uso personal, no
                  comercial.
                </p>
              </section>
              <section
                id="seccion10"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Limitacion de Responsabilidad
                </p>
                <p class="scroll-spy__section__texto">
                  En ningún caso, incluyendo pero no limitado a negligencia,
                  sera responsable La Empresa, o cualquiera de sus directores,
                  funcionarios, empleados, agentes o proveedores, del contenido
                  o de los servicios (conjuntamente, las "entidades protegidas")
                  de cualquier daño directo, indirecto, especial, incidental,
                  consecuente, ejemplar o punitivo como resultado de, o directa
                  o indirectamente relacionado con, el uso de, o la incapacidad
                  de usar el sitio web o los contenidos, materiales y funciones
                  relacionados con el mismo, su provisión de información vía el
                  sitio web, negocios perdidos o ventas perdidas, aún cuando
                  dicha entidad protegida haya sido asesorada sobre la
                  posibilidad de dichos daños.
                </p>
                <p class="scroll-spy__section__texto">
                  Algunas jurisdicciones no permiten la limitación o exclusión
                  de responsabilidad por daños incidentales o indirectos así que
                  algunos de las limitaciones arriba mencionadas no aplican a
                  algunos usuarios. En ningún caso serén responsables las
                  entidades protegidas por o en relación con cualquier contenido
                  publicado, transmitido, intercambiado o recibido por o en
                  nombre de cualquier usuario o de otra persona en o a través
                  del sitio web.
                </p>
                <p class="scroll-spy__section__texto">
                  En ningún caso la suma total de las responsabilidades de las
                  entidades protegidas hacia usted, por todos los daños,
                  pérdidas y causas de acción penal (ya sea por contrato o por
                  agravio, incluyendo pero no limitado a, negligencia o de
                  alguna otra manera) que resulten de los términos y condiciones
                  o del uso que usted haga del sitio web, debera exceder en la
                  suma total, la cantidad, si la hubiera, pagada por usted a La
                  Empresa por el uso del sitio web o por la compra de productos
                  vía el sitio web.
                </p>
              </section>
              <section
                id="seccion11"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">Marcas Comerciales</p>
                <p class="scroll-spy__section__texto">
                  Las marcas comerciales, logos, marcas de servicios, marcas
                  registradas (conjuntamente las "Marcas Comerciales") expuestas
                  en el Sitio Web o en los contenidos disponibles a través del
                  Sitio Web son Marcas Comerciales de La Empresa registradas y
                  no registradas y otras, y no pueden ser usadas con respecto a
                  productos y/o servicios que no estén relacionados, asociados o
                  patrocinados por sus poseedores de derechos y que puedan
                  causar confusión a los clientes, o de alguna manera que
                  denigre o desacredite a sus poseedores de derechos.
                </p>
                <p class="scroll-spy__section__texto">
                  Todas las Marcas Comerciales que no sean de La Empresa que
                  aparezcan en el sitio Web o en o a través de los servicios del
                  Sitio Web, si las hubiera, son propiedad de sus respectivos
                  dueños. Nada que esté contenido en el Sitio Web deberá ser
                  interpretado como otorgando, por implicación, desestimación, o
                  de otra manera, alguna licencia o derecho para usar alguna
                  Marca Comercial expuesta en el Sitio Web sin el permiso
                  escrito de La Empresa o de terceros que puedan ser dueños de
                  dicha Marca Comercial.
                </p>
                <p class="scroll-spy__section__texto">
                  El mal uso de las Marcas Comerciales expuestas en el Sitio Web
                  o en o a través de cualquiera de los servicios del Sitio Web
                  está estrictamente prohibido.
                </p>
              </section>
              <section
                id="seccion12"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Modificaciones del Sitio
                </p>
                <p class="scroll-spy__section__texto">
                  La Empresa se reserva la facultad de modificar en cualquier
                  momento las condiciones generales de uso del portal.
                </p>
                <p class="scroll-spy__section__texto">
                  En todo caso, se recomienda que consulte periódicamente los
                  presentes términos de uso del portal, ya que pueden ser
                  modificados.
                </p>
              </section>
              <section
                id="seccion13"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Obligaciones del Usuario
                </p>
                <p class="scroll-spy__section__texto">
                  El usuario deberá respetar en todo momento los términos y
                  condiciones establecidos en las presentes condiciones
                  generales de uso del portal.
                </p>
                <p class="scroll-spy__section__texto">
                  De forma expresa el usuario manifiesta que utilizará el portal
                  de forma diligente y asumiendo cualquier responsabilidad que
                  pudiera derivarse del incumplimiento de las normas.
                </p>
              </section>
              <section
                id="seccion14"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Politica de envio de ideas no solicitadas
                </p>
                <ul>
                  <li>
                    <p class="scroll-spy__section__texto">
                      A menos que se solicite específicamente, no pedimos ni
                      deseamos recibir ninguna información confidencial, secreta
                      o patrimonial, ni otro material de usted a través del
                      Sitio Web, por correo electrónico o de cualquier otra
                      manera
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      Cualquier información, trabajos creativos, demostración,
                      ideas, sugerencias, conceptos, métodos, sistemas, diseños,
                      planes, técnicas u otros materiales que nos haya mandado o
                      presentado (incluyendo, por ejemplo y sin limitación,
                      aquello que usted presenta o envía a nuestros grupos de
                      chateo, tablas de mensajes y/o a nuestros ‘blogs’, o que
                      nos manda vía correo electrónico) ("Materiales
                      Presentados") se considerará como no confidencial o
                      secreto y que puede ser usado por nosotros de cualquier
                      manera consistente con la Política de Privacidad del Sitio
                      Web
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      Al presentarnos o mandarnos Materiales Presentados, usted:
                    </p>
                  </li>
                </ul>
                <ul class="ul-roman-sm">
                  <li>
                    <p class="scroll-spy__section__texto">
                      representa y garantiza que los Materiales Presentados son
                      originales suyos, que ninguna otra persona tiene ningún
                      derecho sobre ellos, y que cualquier "derecho moral" sobre
                      los Materiales Presentados ha sido renunciado, y
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      usted nos concede, a nosotros y a nuestros afiliados,
                      derecho y licencia libres de regalías, sin restricciones,
                      mundiales, perpetuos, irrevocables, no exclusivos y
                      totalmente transferibles, que pueden ser cedidos y
                      sub-licenciados, para usar, copiar, reproducir, modificar,
                      adaptar, publicar, traducir, crear trabajos derivados de,
                      distribuir, ejecutar, exponer e incorporar en otros
                      trabajos cualquiera de los Materiales Presentados (todos o
                      en parte) en cualquier forma, medio o tecnología no
                      conocida o por desarrollar, incluyendo propósitos
                      promocionales y/o comerciales.
                    </p>
                  </li>
                  <li>
                    <p class="scroll-spy__section__texto">
                      No podemos ser responsables de conservar ningún Material
                      Presentado proporcionado por usted y podemos borrar o
                      destruir dicho Material Presentado en cualquier momento.
                    </p>
                  </li>
                </ul>
              </section>
              <section
                id="seccion15"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">Prohibiciones de Uso</p>
                <p class="scroll-spy__section__texto">
                  Cualquier distribución, publicación o explotación comercial o
                  promocional del Sitio Web, o de cualquiera de los contenidos,
                  códigos, datos o materiales en el Sitio Web, está
                  estrictamente prohibido, a menos de que usted haya recibido el
                  previo permiso expreso por escrito del personal autorizado de
                  La Empresa o de algún otro poseedor de derechos aplicable.
                </p>
                <p class="scroll-spy__section__texto">
                  A no ser que este expresamente permitido en el presente
                  contrato, usted no puede descargar, informar, exponer,
                  publicar, copiar, reproducir, distribuir, transmitir,
                  modificar, ejecutar, difundir, transferir, crear trabajos
                  derivados de, vender o de cualquier otra manera explotar
                  cualquiera de los contenidos, códigos, datos o materiales en o
                  disponibles a través del Sitio Web.
                </p>
                <p class="scroll-spy__section__texto">
                  Usted se obliga además a no alterar, editar, borrar, quitar, o
                  de otra manera cambiar el significado o la apariencia de, o
                  cambiar el propósito de, cualquiera de los contenidos,
                  códigos, datos o materiales en o disponibles a través del
                  Sitio Web, incluyendo, sin limitación, la alteración o retiro
                  de cualquier marca comercial, marca registrada, logo, marca de
                  servicios o cualquier otro contenido de propiedad o
                  notificación de derechos de propiedad.
                </p>
                <p class="scroll-spy__section__texto">
                  Usted reconoce que no adquiere ningún derecho de propiedad al
                  descargar algún material con derechos de autor de o a través
                  del Sitio Web. Si usted hace otro uso del Sitio Web, o de los
                  contenidos, códigos, datos o materiales que ahí se encuentren
                  o que estén disponibles a través del Sitio Web, a no ser como
                  se ha estipulado anteriormente, usted puede violar las leyes
                  de derechos de autor y otras leyes de Chile y de otros países,
                  y puede ser sujeto a responsabilidad legal por dicho uso no
                  autorizado
                </p>
              </section>
              <section
                id="seccion16"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Propiedad Intelectual e Industrial
                </p>
                <p class="scroll-spy__section__texto">
                  Los contenidos, marcas, logos, dibujos, documentación,
                  programas informáticos o cualquier otro elemento susceptible
                  de protección por la legislación de propiedad intelectual o
                  industrial, que sean accesibles en el portal corresponden
                  exclusivamente a la empresa o a sus legítimos titulares y
                  quedan expresamente reservados todos los derechos sobre los
                  mismos.
                </p>
                <p class="scroll-spy__section__texto">
                  Queda expresamente prohibida la creación de enlaces de
                  hipertexto (links) a cualquier elemento integrante de las
                  páginas web del Portal sin la autorización de la empresa,
                  siempre que no sean a una página web del Portal que no
                  requiera identificación o autenticación para su acceso, o el
                  mismo esté restringido.
                </p>
                <p class="scroll-spy__section__texto">
                  En cualquier caso, el portal se reserva todos los derechos
                  sobre los contenidos, información datos y servicios que
                  ostente sobre los mismos. El portal no concede ninguna
                  licencia o autorización de uso al usuario sobre sus
                  contenidos, datos o servicios, distinta de la que expresamente
                  se detalle en las presentes condiciones generales de uso del
                  portal.
                </p>
              </section>
              <section
                id="seccion17"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">Renuncia de Garantias</p>
                <p class="scroll-spy__section__texto">
                  El sitio web, incluyendo, sin limitación, todos los servicios,
                  contenidos, funciones y materiales proporcionados a través del
                  sitio web, son proporcionados "tal como estén", "como se ponen
                  a la disposición", sin garantía de ningún tipo, ya sea expresa
                  o implícita, incluyendo, sin limitación, cualquier garantía de
                  información, datos, servicios de procesamiento de datos,
                  acceso ilimitado o ininterrumpido, cualquier garantía con
                  respecto a la disponibilidad, interpretabilidad, no
                  interpretabilidad, exactitud, precisión, rectitud, perfección,
                  conclusión, utilidad, o contenido de la información, y
                  cualquier garantía de título, no-infracción, comerciabilidad o
                  aptitud para un propósito en particular, y en el presente
                  renunciamos a cualquiera y a todas dichas garantías, expresas
                  e implícitas.
                </p>
                <p class="scroll-spy__section__texto">
                  No garantizamos que el sitio web o los servicios, contenidos,
                  funciones o materiales proporcionados a través del sitio web
                  seran oportunos, seguros, ininterrumpidos o libres de error, o
                  que los defectos seran corregidos.
                </p>
                <p class="scroll-spy__section__texto">
                  No damos garantía de que el sitio web o de que los servicios
                  proporcionados cumplieran con los requerimientos de los
                  usuarios. Ningún consejo, resultados o información, ya sea
                  oral o escrito, que usted obtenga de nosotros a través del
                  sitio web crearé alguna garantía que no haya sido establecida
                  expresamente en el presente.
                </p>
                <p class="scroll-spy__section__texto">
                  La Empresa tampoco asume ninguna responsabilidad, y no sera
                  responsable de cualquier daño a, o de cualquier virus que
                  pudiera infectar su equipo a causa de su acceso a, uso de, o
                  navegación en el sitio web o por descargar cualquiera de los
                  materiales, datos, textos, imagenes, contenidos de video o
                  contenidos de audio del sitio web. Si usted no esté satisfecho
                  con el sitio web, su única solución es descontinuar usando el
                  sitio web.
                </p>
                <p class="scroll-spy__section__texto">
                  Tratamos de asegurar que la información publicada en el sitio
                  web es correcta y actualizada. Nos reservamos el derecho de
                  cambiar o hacer correcciones a cualquier información
                  proporcionada en el sitio web en cualquier momento y sin
                  ningún aviso previo.
                </p>
                <p class="scroll-spy__section__texto">
                  La empresa no avala ni es responsable de la exactitud o
                  veracidad de cualquier opinión, consejo o declaración en el
                  sitio web, ni de cualquier publicación ofensiva, difamatoria,
                  obscena, indecente, ilegal o violatoria hecha en el mismo por
                  cualquier persona a no ser un empleado portavoz autorizado de
                  La Emoresa en su caracter oficial (incluyendo, sin limitación,
                  otros usuarios del sitio web). Es su responsabilidad evaluar
                  la exactitud, conclusión o utilidad de cualquier información,
                  opinión, consejo u otro contenido disponible a través del
                  sitio web. Por favor busque el consejo de profesionales, según
                  sea apropiado, con respecto a la evaluación de cualquier
                  información, opinión, consejo u otro contenido específico,
                  incluyendo pero no limitado a, información, opinión, consejo u
                  otro contenido financiero, de salud o de estilo de vida.
                </p>
              </section>
              <section
                id="seccion18"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Responsabilidad del Portal
                </p>
                <p class="scroll-spy__section__texto">
                  El usuario conoce y acepta que el portal no otorga ninguna
                  garantía de cualquier naturaleza, ya sea expresa o implícita,
                  sobre los datos, contenidos, información y servicios que se
                  incorporan y ofrecen desde el Portal.
                </p>
                <p class="scroll-spy__section__texto">
                  Exceptuando los casos que la Ley imponga expresamente lo
                  contrario, y exclusivamente con la medida y extensión en que
                  lo imponga, el Portal no garantiza ni asume responsabilidad
                  alguna respecto a los posibles daños y perjuicios causados por
                  el uso y utilización de la información, datos y servicios del
                  Portal.
                </p>
                <p class="scroll-spy__section__texto">
                  En todo caso, el Portal excluye cualquier responsabilidad por
                  los daños y perjuicios que puedan deberse a la información y/o
                  servicios prestados o suministrados por terceros diferentes de
                  la Empresa. Toda responsabilidad será del tercero ya sea
                  proveedor o colaborador.
                </p>
              </section>
              <section
                id="seccion19"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Termino del Servicios del Portal
                </p>
                <p class="scroll-spy__section__texto">
                  La Empresa puede terminar, cambiar, suspender o descontinuar
                  cualquier aspecto del Sitio Web o de los servicios del Sitio
                  Web en cualquier momento.
                </p>
                <p class="scroll-spy__section__texto">
                  La Empresa puede restringir, suspender o terminar su acceso al
                  Sitio Web y/o a sus servicios si creemos que usted está en
                  incumplimiento de nuestros términos y condiciones o de la ley
                  aplicable, o por cualquier otra razón sin notificación o
                  responsabilidad.
                </p>
                <p class="scroll-spy__section__texto">
                  La Empresa mantiene una política que estipula la terminación,
                  en circunstancias apropiadas, de los privilegios de uso del
                  Sitio Web para usuarios que son violadores repetitivos de los
                  derechos de propiedad intelectual.
                </p>
              </section>
              <section
                id="seccion20"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">Introduccion</p>
                <p class="scroll-spy__section__texto">
                  Las presentes Condiciones Generales de Uso de la Página Web, o
                  del Sitio Web o del Portal Web, regulan los términos y
                  condiciones de acceso y uso de
                  <strong>www.diciembreencontra.cl</strong>, propiedad de
                  <strong>La Empresa</strong>, con domicilio en xxx Oficina xxx,
                  Comuna de xxx - Chile, en adelante, «la Empresa», que el
                  usuario del Portal deberá de leer y aceptar para usar todos
                  los servicios e información que se facilitan desde el portal.
                </p>
                <p class="scroll-spy__section__texto">
                  El mero acceso y/o utilización del Portal, de todo o de parte
                  de sus contenidos y/o servicios significa la plena aceptación
                  de las presentes Condiciones Generales de Uso.
                </p>
                <p class="scroll-spy__section__texto">
                  En caso que usted sea un Usuario Registrado por nosotros, cada
                  vez que se conecte al Portal, ademas de su Usuario y Clave de
                  Acceso, se le solicitara seleccione afirmativamente que ha
                  leido las Condiciones Generales de Uso, descritas en esta
                  pagina y que las acepta en su totalidad. De esta forma, es su
                  responsabilidad cumplir con ellas, observarlas como tambien
                  conocer las limitaciones y restricciones descritas al respecto
                  del uso de este Portal
                </p>
              </section>
              <section
                id="seccion21"
                class="scroll-spy__section"
                data-scroll-spy
              >
                <p class="scroll-spy__section__titulo">
                  Vinculos a otros Sitios
                </p>
                <p class="scroll-spy__section__texto">
                  Usted no tiene permitido enlazarse directamente a ninguna
                  imagen almacenada en el Sitio Web o en nuestros servicios,
                  como sería usar un método de enlace "en-línea" para provocar
                  que la imagen almacenada por nosotros fuera expuesta en otro
                  sitio web. Usted se obliga a no descargar o usar imágenes
                  almacenadas en este Sitio Web en otro sitio web, con cualquier
                  propósito, incluyendo, sin limitación, publicar dichas
                  imágenes en otro sitio web.
                </p>
                <p class="scroll-spy__section__texto">
                  Usted está de acuerdo en que si incluye un enlace (link) de
                  cualquier otro sitio web al Sitio Web, dicho enlace se abrirá
                  en una nueva ventana navegadora y se enlazará con la versión
                  completa de una página formateada HTML de este Sitio Web.
                </p>
                <p class="scroll-spy__section__texto">
                  Usted se obliga a no enlazarse de cualquier otro sitio web a
                  este Sitio Web de tal manera que el Sitio Web, o cualquier
                  página del Sitio Web, esté "enmarcado", rodeado u ofuscado por
                  los contenidos, materiales o posicionamientos de marca de
                  cualquier tercero.
                </p>
                <p class="scroll-spy__section__texto">
                  Nos reservamos todos nuestros derechos bajo la ley para
                  insistir en que cualquier enlace al Sitio Web sea
                  descontinuado y a revocar su derecho a enlazarse al Sitio Web
                  de cualquier otro sitio web, en cualquier momento en el que le
                  mandemos notificación por escrito
                </p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div data-include="/includes/footer-nuevo.html"></div>
  </body>
</html>
