<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/assets/icons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <title>Diciembre En Contra</title>
    <meta name="title" content="Diciembre En Contra" />
    <meta
      name="description"
      content="Un grupo de patriotas auto-convocados por la necesidad deducida de evitar la continua destruccion de Chile. Diciembre En Contra"
    />
    <meta
      name="keywords"
      content="Diciembre En Contra, Rechazo Nueva Constitucion, Coronel Martinez, Patriotas"
    />

    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Muchos Patriotas" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8;" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="canonical" href="http://www.diciembreencontra.cl/" />

    <meta http-equiv="Cache-Control" content="private" />
    <meta http-equiv="Cache-Control" content="max-age=86400" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link
      href="/resources/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="/resources/bootstrap//js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link href="/resources/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <script type="module" src="/js/main.js"></script>
    <script src="/common/include.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V01PXY5R8J"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-V01PXY5R8J");
    </script>
  </head>
  <body>
    <main>
      <div class="home">
        <div class="home__container">
          <div class="home__content">
            <div class="home__data">
              <div class="home__vinculos">
                <a href="/mision_vision" class="home__vinculo"
                  >Mision y Vision</a
                >
                <a href="/quienes_somos" class="home__vinculo">Quienes somos</a>
                <a href="/contacto" class="home__vinculo">Contacto</a>
              </div>
              <div class="home__logo">
                <p class="home__titulo">Diciembre</p>
                <p class="home__titulo">En</p>
                <p class="home__titulo">Contra</p>
              </div>

              <div class="home__botones">
                <button
                  id="ingresar"
                  class="btn btn-sm btn-primary"
                  type="button"
                >
                  Entrar
                </button>
                <button
                  id="inicial"
                  class="btn btn-sm btn-primary"
                  type="button"
                >
                  Presentacion
                </button>
              </div>
            </div>
            <div class="home__data">
              <div class="home_rrss">
                <div data-include="/layout/rrss.html"></div>
                <!-- <div class="home__red_patriota borde-gris centrado">
                  <p class="home__red_patriota__titulo">Red Patriota</p>
                  <div class="home__red_patriota__bloque">
                    <a
                      href="https://www.youtube.com/@jorgeantonioaguirrehrepic8320"
                      target="_blank"
                      ><img
                        src="/assets/images/logo-canal-jorge-aguirre-hrepic.png"
                        alt="Jorge Aguirre Hrepic"
                        class="home__red_patriota__bloque__img"
                      />
                      <p>Jorge Aguirre Hrepic</p></a
                    >

                    <a
                      href="https://www.youtube.com/@KoncevisionTV"
                      target="_blank"
                      ><img
                        src="/assets/images/logo-canal-koncevision.png"
                        alt=""
                        class="home__red_patriota__bloque__img"
                      />
                      <p>Koncevision</p></a
                    >

                    <a
                      href="https://www.youtube.com/@teampatriota"
                      target="_blank"
                      ><img
                        src="/assets/images/logo-canal-team-patriota.png"
                        alt=""
                        class="home__red_patriota__bloque__img"
                      />
                      <p>Team Patriota</p></a
                    >

                    <a
                      href="https://www.youtube.com/@legitimadefensa3977"
                      target="_blank"
                      ><img
                        src="/assets/images/logo-canal-legitima-defensa.png"
                        alt=""
                        class="home__red_patriota__bloque__img"
                      />
                      <p>Legitima Defensa Chile</p></a
                    >

                    <a
                      href="https://www.youtube.com/@LaVozdeRubinstein"
                      target="_blank"
                      ><img
                        src="/assets/images/logo-canal-la-voz-de-rubinstein.png"
                        alt="La Voz de Rubinstein"
                        class="home__red_patriota__bloque__img"
                      />
                      <p>La Voz de Rubinstein</p></a
                    >

                    <a
                      href="https://www.youtube.com/@mujeresalpoderconangelica6452"
                      target="_blank"
                      ><img
                        src="/assets/images/logo-canal-mujeres-al-poder-con-angelica.png"
                        alt="Mujeres al Poder con Angelica"
                        class="home__red_patriota__bloque__img"
                      />
                      <p>Mujeres al Poder</p></a
                    >

                    <a href="https://www.youtube.com/@RSTChile" target="_blank"
                      ><img
                        src="/assets/images/logo-canal-rst.png"
                        alt=""
                        class="home__red_patriota__bloque__img"
                      />
                      <p>Alexis Lopez Tapia RST Chile</p></a
                    >

                    <a
                      href="https://www.youtube.com/@PatricioBetancur151913"
                      target="_blank"
                      ><img
                        src="/assets/images/logo-canal-patricio-betancur.png"
                        alt=""
                        class="home__red_patriota__bloque__img"
                      />
                      <p>La Noche de Patricio Betancur</p></a
                    >

                    <a
                      href="https://www.youtube.com/@eltiopelao"
                      target="_blank"
                      ><img
                        src="/assets/images/logo-canal-tio-pelao.png"
                        alt=""
                        class="home__red_patriota__bloque__img"
                      />
                      <p>El Tio Pelao</p></a
                    >
                    <a href="https://www.youtube.com/@usalared" target="_blank"
                      ><img
                        src="/assets/images/logo-canal-seguridad-y-defensa-estrategica.png"
                        alt=""
                        class="home__red_patriota__bloque__img"
                      />
                      <p>Arturo Grandon Seguridad y Defensa Estrategica</p></a
                    >
                  </div>
                </div> -->

                <div class="home__recuadro-previo">
                  <div class="home__recuadro borde-gris centrado">
                    <div>
                      <p class="home__recuadro_texto">
                        De un golpe de la Natuzaleza nos levantamos...
                      </p>
                    </div>
                    <div>
                      <img
                        src="/assets/images/bandera-tsunami.png"
                        alt="bandera"
                        class="home__img__bandera"
                      />
                    </div>
                  </div>
                  <div class="home__recuadro borde-gris centrado">
                    <div>
                      <p class="home__recuadro_texto">
                        ...y ahora, de un Ataque de anti chilenos tambien.
                      </p>
                    </div>
                    <div>
                      <img
                        src="/assets/images/pngtree-the-national-flag-of-chile-png-image_3910136.png"
                        alt="bandera"
                        class="home__img__bandera"
                      />
                    </div>
                  </div>
                </div>

                <div class="borde-gris centrado">
                  <div>
                    <p class="home__inscribete-titulo">
                      Inscribete con nosotros
                    </p>

                    <div class="home__botones-participantes">
                      <button
                        id="jefe_local"
                        class="boton-generico3"
                        type="button"
                      >
                        Apoderado General
                      </button>
                      <button
                        id="apoderado_mesa"
                        class="boton-generico3"
                        type="button"
                      >
                        Apoderado de Mesa
                      </button>
                    </div>
                  </div>
                  <div>
                    <p class="home__inscribete-texto">
                      Apoderados Ciudadanos para protejer nuestra amada Patria
                    </p>
                    <p class="home__inscribete-texto">
                      Somos un VOLUNTARIADO por Chile
                    </p>
                    <p class="home__inscribete-subtexto">
                      No Solicitamos, Ni Recibimos dinero, por NINGUN CONCEPTO
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="temas section">
        <div class="temas__content">
          <div class="temas__bloque1">
            <p class="temas__bloque1__titulo">
              Temas asociados al Proceso Constitucional 2023
            </p>
          </div>
          <div class="temas__bloque2">
            <div>
              <p class="temas__titulo-xl">
                Bases Institucionales Fundamentales
              </p>
              <div>
                <button id="bordes" class="boton-generico2" type="button">
                  Detalle Bordes
                </button>
              </div>
              <p class="temas__texto-sm">
                Estas Bases Institucionales Fundamentales, mejor conocidas con
                BORDES, se encuentran contenidas el el Articulo 154 de la Ley
                21.533 publicada en el Diario Oficial de la Republica de Chile,
                el dia 17 de Enero del 2023.
              </p>

              <p class="temas__texto-sm">
                Esta Ley establece que la Propuesta de Nueva Constitucion DEBE
                contener A LO MENOS estas Bases.
              </p>

              <p class="temas__texto-sm">
                Tres son los Organos contemplados por esta Ley para llevar a
                cabo este proceso:
              </p>

              <ul class="ul-circle">
                <li>
                  <p class="temas__texto-sm">Comision de Expertos</p>
                </li>
                <li>
                  <p class="temas__texto-sm">Consejo Constitucional</p>
                </li>
                <li>
                  <p class="temas__texto-sm">Comision de Admisibilidad</p>
                </li>
              </ul>

              <p class="temas__texto-sm">
                Los miembros de la Comision de Expertos y de la Comision de
                Admisibilidad fueron nombradas, ratificadas y aprobadas por el
                Congreso Nacional (Camara de Diputados y Senado) el dia 25 de
                Enero del 2023. Su numero es de 24 y 14 miembros
                respectivamente.
              </p>
            </div>

            <div>
              <p class="temas__titulo-xl">Motivos para votar EN CONTRA</p>
              <p class="temas__texto-sm">1.- Legitimidad de Origen</p>

              <ul class="ul-circle">
                <li>
                  <ul>
                    <li>
                      <p class="temas__texto-sm">
                        Este Proceso es ILEGITIMO, debido a que infringe el Art.
                        142 de la actual Constitucion Politica de la Republica
                        de Chile
                      </p>
                    </li>
                    <li>
                      <p class="temas__texto-sm">
                        El Art. 142 daba por terminado el Proceso de Cambio
                        Constitucional, independientemente ganara la opcion
                        Apruebo o la opcion Rechazo.
                      </p>
                      <ul class="ul-circle">
                        <li>
                          <p class="temas__texto-sm">
                            Si ganaba el Apruebo, adoptariamos la Nueva
                            Constitucion propuesta.
                          </p>
                        </li>
                        <li>
                          <p class="temas__texto-sm">
                            Si ganaba el Rechazo, nos quedabamos con la Actual
                            Constitucion.
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
              <p class="temas__texto-sm">
                2.- No se realizo un Plebicito de Entrada, tal cual como lo
                establece la actual Constitucion Politica
              </p>
              <ul class="ul-circle">
                <li>
                  <p class="temas__texto-sm">
                    El Art. 7 de la Constitucion Politica, establece que ninguna
                    autoridad puede arrogarse otras atribuciones distintas a las
                    que le otorga la Constitucion y las leyes, todo acto en
                    contravension es nulo.
                  </p>
                  <p class="temas__texto-sm">
                    Los Parlamentarios (tanto Diputados como Senadores que
                    votaron a favor) se arrogaron el derecho de generar un nuevo
                    Proceso Constituyente.
                  </p>
                  <p class="temas__texto-sm">
                    Segun Art. 60 Nro. 5 de la Constitucion Politica, debieron
                    haber cesado en su cargo ipso facto (tanto Diputados como
                    Senadores que votaron a favor), por haber cambiado la
                    gobernanza institucional por medios distintos a los
                    establecidos por la Constitucion Politica y las leyes
                  </p>
                </li>
              </ul>

              <p class="temas__texto-sm">
                3.- La Base Constitucional Nro.1 (borde), repite en gran medida
                el texto del Art.1 de la propuesta Constitucioal ya rechazada en
                Sep-2022.
              </p>
              <p class="temas__texto-sm">
                4.- La Mesa que preparo el Acuerdo por Chile (que derivo en la
                Ley 21.533) no dejo ninguna Acta de las reuniones sostenidas
                durante meses.
              </p>
              <ul class="ul-circle">
                <li>
                  <p class="temas__texto-sm">
                    Lo anterior hace que por ejemplo, la Base Nro 5 "Chile es un
                    Estado Social y Democratico de Derecho", sea imposible
                    conocer cual es el alcance, interpretacion y significado que
                    quisieron darle sus integrantes.
                  </p>
                </li>
              </ul>

              <p class="temas__texto-sm">
                5.- La Ley 21.533 publicada el 17.01.2023, que fue derivada del
                Acuerdo por Chile, practicamente sin ninguna modificacion
                sustancial, no establece que ocure en caso que la nueva
                propuesta constitucional sea rechazada.
              </p>
              <ul class="ul-circle">
                <li>
                  <p class="temas__texto-sm">
                    Dejando abierta la posibilidad de nuevas propuestas
                    constitucionales en forma indeficida.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="temas__bloque3">
            <div>
              <p class="temas__titulo-xl">Comision Experta</p>
              <div>
                <button id="comision" class="boton-generico2" type="button">
                  Detalle
                </button>
              </div>

              <ul>
                <li>
                  <p class="temas__texto-sm">
                    Es un Organo compuesto por 24 integrantes.
                  </p>
                </li>
                <li>
                  <p class="temas__texto-sm">
                    Doce de ellos nombrados por el Senado y los doce restantes
                    por la Camara de Diputados.
                  </p>
                </li>
                <li>
                  <p class="temas__texto-sm">
                    Su objetivo es proponer al Consejo Constitucional, un
                    anteproyecto de Propuesta de Nueva Constitucion.
                  </p>
                </li>
                <li>
                  <p class="temas__texto-sm">
                    Esta Comision tiene tres meses para realizar su tarea, desde
                    el 06 de Marzo del 2023 hasta el dia 06 de Junio del 2023.
                  </p>
                </li>
              </ul>
            </div>

            <div>
              <p class="temas__titulo-xl">Consejo Constitucional</p>
              <div>
                <button id="consejo" class="boton-generico2" type="button">
                  Detalle
                </button>
              </div>

              <ul>
                <li>
                  <p class="temas__texto-sm">
                    Compuesto por 50 miembros elegidos por votacion popular y
                    paritaria, efectuada el dia 7 de Mayo del 2023.
                  </p>
                </li>
                <li>
                  <p class="temas__texto-sm">
                    El Articulo 144 de dicha ley, establece que "este organo
                    tiene por UNICO objeto DISCUTIR y APROBAR" el texto
                    propuesto pòr la Comision Experta.
                  </p>
                </li>
                <li>
                  <p class="temas__texto-sm">
                    Este Consejo tiene cinco meses para realizar su trabajo,
                    desde el dia 07 de Junio del 2023 hasta el dia 07 de
                    Noviembre del 2023.
                  </p>
                </li>
              </ul>
            </div>

            <div>
              <p class="temas__titulo-xl">Comite Tecnico de Admisibilidad</p>
              <div>
                <button id="comite" class="boton-generico2" type="button">
                  Detalle
                </button>
              </div>

              <ul>
                <li>
                  <p class="temas__texto-sm">
                    Este Organo esta compuesto por 14 personas, nombradas por el
                    Senado y Camara de Diputados.
                  </p>
                </li>
                <li>
                  <p class="temas__texto-sm">
                    Aun cuando su labor comienza meses despues, este Comite ya
                    se instalo el dia 6 de Marzo del 2023, al igual que la
                    Comision Experta.
                  </p>
                </li>
              </ul>
            </div>
          </div>

          <div class="temas__bloque1">
            <p class="temas__bloque1__titulo">
              Proceso de la Elaboracion del Proyecto de Nueva Constitucion
            </p>
            <p class="temas__texto-sm">
              Estimamos necesario tratar de esclarecer algunos de los conceptos,
              muy en boga hoy en dia, que normalmente aparecen con mayor
              frecuencia en diferentes conversaciones y documentos.
            </p>
            <p class="temas__texto-sm">
              Esperamos ayudarlo a clarificarlos adecuadamente.
            </p>
          </div>

          <div class="temas__bloque3">
            <div>
              <p class="temas__titulo-lg">
                Instalacion del Consejo Constitucional
              </p>
              <p class="temas__texto-sm">
                La instalacion comprende las siguientes actividades:
              </p>

              <ul class="ul-flecha">
                <li>
                  <i class="bx bxs-right-arrow-circle"></i>
                  <p class="temas__texto-sm">
                    Instalacion dia 7 de Junio del 2023
                  </p>
                </li>
                <li>
                  <i class="bx bxs-right-arrow-circle"></i>
                  <p class="temas__texto-sm">Eleccion de la Mesa</p>
                </li>
                <li>
                  <i class="bx bxs-right-arrow-circle"></i>
                  <p class="temas__texto-sm">
                    Recepcion del texto elaborado por los 24 expertos
                  </p>
                </li>
              </ul>
            </div>

            <div>
              <p class="temas__titulo-lg">
                Discusion del texto elaborado por Expertos
              </p>
              <ul>
                <li>
                  <p class="temas__texto-sm">
                    Acciones que requieren quorum 3/5 (30 Consejeros minimo)
                  </p>
                  <ul class="ul-flecha">
                    <li>
                      <i class="bx bxs-right-arrow-circle"></i>
                      <p class="temas__texto-sm">Aprobar</p>
                    </li>
                    <li>
                      <i class="bx bxs-right-arrow-circle"></i>
                      <p class="temas__texto-sm">Aprobar con Modificaciones</p>
                    </li>
                    <li>
                      <i class="bx bxs-right-arrow-circle"></i>
                      <p class="temas__texto-sm">Incorporar nuevos articulos</p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p class="temas__texto-sm">
                    Acciones que requieren quorum 1/5 (10 Consejeros minimo)
                  </p>
                  <ul class="ul-flecha">
                    <li>
                      <i class="bx bxs-right-arrow-circle"></i>
                      <p class="temas__texto-sm">
                        Para recurrir al Comite Tecnico de Adminibilidad
                      </p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div>
              <p class="temas__titulo-lg">Informe de la Comision de Expertos</p>
              <ul>
                <li>
                  <p class="temas__texto-sm">
                    El Informe que presente el Comite de Expertos, una vez que
                    regrese a esta instancia, puede venir con observaciones.
                  </p>
                  <p class="temas__texto-sm">Estas observaciones pueden ser:</p>
                  <ul class="ul-flecha">
                    <li>
                      <i class="bx bxs-right-arrow-circle"></i>
                      <p class="temas__texto-sm">Aprobadas</p>
                    </li>
                    <li>
                      <i class="bx bxs-right-arrow-circle"></i>
                      <p class="temas__texto-sm">Rechazadas</p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p class="temas__texto-sm fw-bold">
                    Quorum necesarios para Aprobar o para Rechazar las
                    observaciones:
                  </p>
                  <ul>
                    <li>
                      <p class="temas__texto-sm fw-bold">Quorum para Aprobar</p>
                      <p class="temas__texto-sm">
                        Se necesitan 3/5. Es decir, al menos 30 Consejeros
                        Constitucionales
                      </p>
                    </li>
                    <li>
                      <p class="temas__texto-sm fw-bold">
                        Quorum para Rechazar
                      </p>
                      <p class="temas__texto-sm">
                        Se necesitan 2/3. Es decir, al menos 34 Consejeros
                        Constitucionales
                      </p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div>
              <p class="temas__titulo-lg">Votacion Final</p>
              <ul>
                <li>
                  <p class="temas__texto-sm">
                    Analisis de Consejeros Constitucionales ADICIONALES con los
                    que actualmente cuenta cada sector, para poder tener el
                    QUORUM necesario, ya sea para Aprobar o Rechazar.
                  </p>
                </li>
                <ul class="ul-flecha">
                  <li>
                    <i class="bx bxs-right-arrow-circle"></i>
                    <p class="temas__texto-sm fw-bold">
                      Republicanos tiene 23 Consejeros Constitucionales
                    </p>
                  </li>
                  <li>
                    <i class="bx bxs-right-arrow-circle"></i>
                    <p class="temas__texto-sm fw-bold">
                      Chile Vamos tiene 11 Consejeros Constitucionales
                    </p>
                  </li>
                  <li>
                    <i class="bx bxs-right-arrow-circle"></i>
                    <p class="temas__texto-sm fw-bold">
                      Gobierno tiene 17 Consejeros Constitucionales (incluye
                      Pueblos Indigenas)
                    </p>
                  </li>
                </ul>
                <p class="temas__texto-sm fw-bold">Cuadro Resumen</p>
                <table
                  class="table table-secondary table-striped table-bordered rounded"
                >
                  <tbody>
                    <tr>
                      <td class="texto-vinculo" colspan="2">Grupo Politico</td>
                      <td class="texto-vinculo" colspan="2">
                        Consejeros ADICIONALES Necesarios
                      </td>
                    </tr>
                    <tr>
                      <td class="texto-vinculo" colspan="2"></td>
                      <td class="texto-vinculo">APROBAR</td>
                      <td class="texto-vinculo">RECHAZAR</td>
                    </tr>
                    <tr>
                      <td class="texto-vinculo" colspan="2">Republicanos</td>
                      <td class="texto-vinculo">7</td>
                      <td class="texto-vinculo">11</td>
                    </tr>
                    <tr>
                      <td class="texto-vinculo" colspan="2">Chile Vamos</td>
                      <td class="texto-vinculo">19</td>
                      <td class="texto-vinculo">23</td>
                    </tr>
                    <tr>
                      <td class="texto-vinculo" colspan="2">Gobierno</td>
                      <td class="texto-vinculo">13</td>
                      <td class="texto-vinculo">17</td>
                    </tr>
                  </tbody>
                </table>
              </ul>
            </div>
          </div>

          <div class="temas__bloque1">
            <p class="temas__bloque1__titulo">
              Otros Temas para tener en cuenta
            </p>
            <p class="temas__texto-sm">
              Estimamos necesario tratar de esclarecer algunos de los conceptos,
              muy en boga hoy en dia, que normalmente aparecen con mayor
              frecuencia en diferentes conversaciones y documentos.
            </p>
            <p class="temas__texto-sm">
              Esperamos ayudarlo a clarificarlos adecuadamente.
            </p>
          </div>

          <div class="temas__bloque3">
            <div>
              <p class="temas__titulo-xl">Globalistas v/s Soberanistas</p>

              <ul>
                <li>
                  <p class="temas__titulo-lg">Globalistas</p>
                  <ul class="ul-circle">
                    <li>
                      <p class="temas__texto-sm">
                        Los Globalistas postulan que los paises no tienen una
                        estructura unificante y que no son organismos
                        particulares.
                      </p>
                    </li>
                    <li>
                      <p class="temas__texto-sm">
                        Sino que todos los paises pertenecen a una
                        supraestructura, global e internacional. La cual se rige
                        por el principio de universalidad e indivisibilidad,
                        donde todos pertenecen a un mismo universo, indivisibles
                        unos de otros.
                      </p>
                    </li>
                    <li>
                      <p class="temas__texto-sm">
                        Por lo tanto reciben ordenes de un organismo central. En
                        este caso, la ONU.
                      </p>
                    </li>
                    <li>
                      <p class="temas__texto-sm">
                        Al globalismo no le interesa que existan libertades al
                        interior de cada pais, que no existan muchos
                        emprendimientos, por ello busca que existan mas empresas
                        publicas, entre muchos otros factores.
                      </p>
                    </li>
                  </ul>
                </li>

                <li>
                  <br />
                  <p class="temas__titulo-lg">Soberanistas</p>
                  <ul class="ul-circle">
                    <li>
                      <p class="temas__texto-sm">
                        Los Soberanistas defienden la soberania de cada pais. La
                        soberania es mucho mas que un territorio.
                      </p>
                    </li>
                    <li>
                      <p class="temas__texto-sm">
                        Ya que representa tambien, la nacion que lo conforma.
                      </p>
                    </li>
                    <li>
                      <p class="temas__texto-sm">
                        Sus ritos, sus celebraciones y sus conmemoraciones
                        propias. Su historia, su pasado, su presente y su
                        futuro.
                      </p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div>
              <p class="temas__titulo-xl">Agenda 2030</p>
              <ul>
                <li>
                  <p class="temas__texto-sm">
                    No es un Tratado Internacional suscrito y ratificado por
                    Chile:
                  </p>
                  <ul class="ul-circle">
                    <li>
                      <p class="temas__texto-sm">
                        Nunca fue consultada a la ciudadania,
                      </p>
                    </li>
                    <li>
                      <p class="temas__texto-sm">
                        Nunca fue ratificado por el Parlamento y
                      </p>
                    </li>
                    <li>
                      <p class="temas__texto-sm">
                        Nunca sigio el tramite de una Ley
                      </p>
                    </li>
                  </ul>
                  <p class="temas__texto-sm">
                    Lo anterior, es necesario que se hubiese sido hecho.
                  </p>
                </li>
                <br />
                <p class="temas__titulo-lg">Implementacion de Agenda 2030</p>
                <li>
                  <p class="temas__texto-sm">
                    Fue realizado a traves de un resquisio legal, a traves de un
                    Decreto dictado por Michelle Bachelet en el año 2016
                    (Decreto 49-2016)
                  </p>
                </li>
                <li>
                  <p class="temas__texto-sm">
                    Dicho Decreto, creo la Comision para la Implementacion de la
                    Agenda 2030.
                  </p>
                </li>
                <li>
                  <p class="temas__texto-sm">
                    Implementar implica aplicarlo tal cual esta, pero sin
                    debatir ni revisar, algo que viene de afuera.
                  </p>
                </li>
                <li>
                  <p class="temas__texto-sm">
                    Lo anterior al amparo de una norma que establecia que Chile
                    al pertenecer a la ONU, los paises podia aceptarla de manera
                    obligatoria o no.
                  </p>
                </li>
              </ul>
            </div>

            <div>
              <p class="temas__titulo-xl">Conceptos Varios</p>
              <ul>
                <li>
                  <p class="temas__titulo-lg">Estado Social</p>
                </li>
                <ul>
                  <li>
                    <p class="temas__texto-sm">
                      Es donde los Medios de Produccion se distribuyen de manera
                      equitativa entre los distintos miembros de la sociedad,
                      pero quien define esta equidad, es el gobierno de turno
                      (el Poder Civil).
                    </p>
                  </li>
                </ul>
                <li>
                  <br />
                  <p class="temas__titulo-lg">Estado Democratico</p>
                  <ul>
                    <li>
                      <p class="temas__texto-sm">
                        Es donde la gobernanza interna la tienen los Partidos
                        Politicos y la Sociedad Civil (todos nosotros) no tiene
                        ninguna ingerencia y por lo tanto no existe, ya que son
                        los Partidos Politicos son los que mandan.
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <br />
                  <p class="temas__titulo-lg">Estado de Derecho</p>
                  <ul>
                    <li>
                      <p class="temas__texto-sm">
                        Es aquel que toda la entrega de la provision del Estado
                        a la Persona, esta regulada por Ley.
                      </p>
                      <p class="temas__texto-sm">
                        De esta forma, las Personas no tienen ningun Derecho por
                        el Iusnaturalimo, es decir, ningun Derecho por el simple
                        hecho de ser persona.
                      </p>
                      <p class="temas__texto-sm">
                        Los Derechos se tienen si y solo si, el Estado los
                        reconoce.
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <br />
                  <p class="temas__titulo-lg">Constitucion Habilitante</p>
                  <p class="temas__texto-sm">
                    Aun cuando el texto no quede tal cual como a cierto sector
                    le gustaria, el texto de la Nueva Constitucion facultaria
                    que a futuro se puedan incorporar el o los textos segun su
                    criterio.
                  </p>
                </li>
                <li>
                  <br />
                  <p class="temas__titulo-lg">Dimensiones de un Derecho</p>
                  <ul class="ul-circle">
                    <li>
                      <p class="temas__texto-sm">
                        Consagracion del Derecho: El Derecho en si mismo Por
                        ejemplo, derecho a la vida, derecho a la propiedad,
                        derecho a la seguridad, etc
                      </p>
                    </li>
                    <li>
                      <p class="temas__texto-sm">Acceso a un Derecho</p>
                    </li>
                    <li>
                      <p class="temas__texto-sm">
                        La plena satisfaccion del Derecho
                      </p>
                    </li>
                  </ul>
                  <p class="temas__texto-sm">
                    Luego, una Constitucion que define Derechos, define los
                    accesos a esos Derechos, pero que no establece los
                    mecanismos para garantizar la Plena Satisfaccion de esos
                    Derechos.
                  </p>
                  <p class="temas__texto-sm">
                    Generando de esta forma, ciudadados de primera y de segunda
                    clase, ya que no todos lograran el mismo nivel de
                    satistaccion de sus Derechos, como tambien de el acceso a
                    ellos.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div data-include="/includes/footer-nuevo.html"></div>
    <script type="text/javascript">
      document.getElementById("ingresar").onclick = function () {
        location.href = "/login";
      };
      document.getElementById("inicial").onclick = function () {
        location.href = "/en_construccion";
      };
    </script>
    <script type="text/javascript">
      document.getElementById("bordes").onclick = function () {
        location.href = "/bordes";
      };
    </script>
    <script type="text/javascript">
      document.getElementById("comision").onclick = function () {
        location.href = "/comision_expertos";
      };
      document.getElementById("consejo").onclick = function () {
        location.href = "/consejo_constitucional";
      };
      document.getElementById("comite").onclick = function () {
        location.href = "/comite_admisibilidad";
      };
    </script>
    <script type="text/javascript">
      document.getElementById("jefe_local").onclick = function () {
        location.href = "/jefe_local_ingreso";
      };
      document.getElementById("apoderado_mesa").onclick = function () {
        location.href = "/apoderados_ingreso";
      };
    </script>
  </body>
</html>
