<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/assets/icons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <meta name="title" content="Diciembre En Contra" />
    <meta
      name="description"
      content="Un grupo de patriotas auto-convocados por la necesidad deducida de evitar la continua destruccion de Chile. Diciembre En Contra"
    />
    <meta
      name="keywords"
      content="Diciembre En Contra, Rechazo Nueva Constitucion, Coronel Martinez, Patriotas"
    />

    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Muchos Patriotas" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8;" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="canonical" href="http://www.diciembreencontra.cl/" />

    <meta http-equiv="Cache-Control" content="private" />
    <meta http-equiv="Cache-Control" content="max-age=86400" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Diciembre En Contra</title>
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <script type="module" src="/js/main.js"></script>
    <script src="/common/include.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V01PXY5R8J"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-V01PXY5R8J");
    </script>
  </head>
  <body>
    <div data-include="/includes/header-en-blanco.html"></div>
    <main>
      <section class="quienes-somos">
        <div class="quienes-somos__container">
          <div class="quienes-somos__content">
            <div class="quienes-somos__data">
              <div class="borde centrado">
                <h3 class="quienes-somos__subtitle">Ricardo Martinez G.</h3>
                <h1 class="quienes-somos__title">Coronel (R)</h1>
                <h3 class="quienes-somos__education">Lider del Equipo</h3>
              </div>
              <a href="/contacto" class="button">Contactanos</a>
              <div data-include="/includes/siguenos-social-rombo.html"></div>
            </div>
            <div class="quienes-somos__image">
              <svg
                class="quienes-somos__blob"
                viewBox="0 0 550 591"
                xmlns="http://www.w3.org/2000/svg"
              >
                <mask id="maskBlob" mask-type="alpha">
                  <path
                    d="M263 47.1782C270.426 42.891 279.574 42.891 287 47.1782L501.157 
      170.822C508.583 175.109 513.157 183.032 513.157 191.606V438.894C513.157 
      447.468 508.583 455.391 501.157 459.678L287 583.322C279.574 587.609 270.426 
      587.609 263 583.322L48.843 459.678C41.4174 455.391 36.843 447.468 36.843 
      438.894V191.606C36.843 183.032 41.4174 175.109 48.843 170.822L263 47.1782Z"
                  />
                </mask>
                <g mask="url(#maskBlob)">
                  <path
                    d="M263 47.1782C270.426 42.891 279.574 42.891 287 47.1782L501.157 
      170.822C508.583 175.109 513.157 183.032 513.157 191.606V438.894C513.157 
      447.468 508.583 455.391 501.157 459.678L287 583.322C279.574 587.609 270.426 
      587.609 263 583.322L48.843 459.678C41.4174 455.391 36.843 447.468 36.843 
      438.894V191.606C36.843 183.032 41.4174 175.109 48.843 170.822L263 47.1782Z"
                  />

                  <rect x="37" width="476" height="630" fill="url(#pattern0)" />
                </g>

                <rect x="37" width="476" height="300" fill="url(#pattern1)" />

                <defs>
                  <pattern
                    id="pattern0"
                    patternContentUnits="objectBoundingBox"
                    width="1"
                    height="1"
                  >
                    <use
                      href="#imageBlob"
                      transform="matrix(0.00143057 0 0 0.00108108 0.0404062 0)"
                    />
                  </pattern>

                  <pattern
                    id="pattern1"
                    patternContentUnits="objectBoundingBox"
                    width="1"
                    height="1"
                  >
                    <use
                      href="#imageBlob"
                      transform="matrix(0.00143057 0 0 0.00226984 0.0404062 0)"
                    />
                  </pattern>

                  <image
                    id="imageBlob"
                    width="640"
                    height="925"
                    href="assets/images/don-ricardo.png"
                  />
                </defs>
              </svg>
            </div>
          </div>
          <div class="quienes-somos__content">
            <div class="quienes-somos__colaboradores">
              <p>Colaboradores</p>
              <div class="quienes-somos__colaboradores__detalle">
                <ul class="ul-disc">
                  <li>
                    <p>Jorge Aguirre Hrepic</p>
                  </li>
                  <li>
                    <p>Juan Antonio Kelly</p>
                  </li>
                  <li>
                    <p>Francisco Muñoz</p>
                  </li>
                  <!-- <li>
                    <p>Ricardo Rubinstein</p>
                  </li> -->
                  <li>
                    <p>Angelica Sainz</p>
                  </li>
                  <li>
                    <p>Alexis Lopez Tapia</p>
                  </li>
                  <li>
                    <p>Patricio Betancur</p>
                  </li>
                  <!-- <li>
                    <p>Francisco Alarcon Ruz</p>
                  </li> -->
                  <li>
                    <p>Arturo Grandon</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="quienes-somos__content">
            <div class="quienes-somos__colaboradores">
              <p>Equipo Tecnico</p>
              <div class="quienes-somos__colaboradores__detalle">
                <ul class="ul-disc">
                  <li>
                    <p>Muchos Patriotas</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div data-include="/includes/footer-nuevo.html"></div>
    <script src="assets/plugin/scrollreveal.min.js"></script>
    <script>
      /*=============== SCROLL REVEAL ANIMATION ===============*/
      const sr = ScrollReveal({
        origin: "top",
        distance: "60px",
        duration: 2500,
        delay: 400,
        // reset:true // Animations Repeat
      });

      sr.reveal(`.quienes-somos__data, .quienes-somos__social`);
      sr.reveal(`.quienes-somos__image`, { origin: "bottom" });
    </script>
  </body>
</html>
