<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/assets/icons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
      rel="stylesheet"
    /> -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Diciembre En Contra</title>
    <meta name="title" content="Diciembre En Contra" />
    <meta
      name="description"
      content="Un grupo de patriotas auto-convocados por la necesidad deducida de evitar la continua destruccion de Chile. Diciembre En Contra"
    />
    <meta
      name="keywords"
      content="Diciembre En Contra, Rechazo Nueva Constitucion, Coronel Martinez, Patriotas"
    />

    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Muchos Patriotas" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8;" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="canonical" href="http://www.diciembreencontra.cl/" />

    <meta http-equiv="Cache-Control" content="private" />
    <meta http-equiv="Cache-Control" content="max-age=86400" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <script type="module" src="/js/main.js"></script>
    <script src="/common/include.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V01PXY5R8J"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-V01PXY5R8J");
    </script>
  </head>
  <body>
    <div data-include="/includes/header-en-blanco.html"></div>
    <main>
      <section class="expertos">
        <div class="expertos__container">
          <div class="expertos__bloque">
            <p class="expertos__bloque__titulo">
              Comite Tecnico de Admisibilidad
            </p>
            <p class="expertos__bloque__subtitulo">
              (incluidas en Ley 21.533 del 17.01.2023)
            </p>
            <br />
            <!-- <p class="texto-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum
              libero fugiat similique officiis voluptatibus esse aspernatur
              magnam expedita? Excepturi sint similique eius expedita vel eaque
              soluta voluptate iusto provident eligendi. Sunt architecto, ipsa
              aut explicabo molestiae quo doloribus reiciendis blanditiis non
              voluptatum laudantium ab repudiandae voluptates. Quibusdam numquam
              mollitia voluptatum totam, nostrum accusantium iste. Quasi,
              tempore? Expedita ex harum quam
            </p> -->
          </div>
          <div>
            <button id="comision" class="boton-generico2" type="button">
              Comision Expertos
            </button>
            <button id="consejo" class="boton-generico2" type="button">
              Consejo Constitucional
            </button>
          </div>

          <p class="expertos__parrafo">
            Expertos nombrados por el Parlamento Nacional
          </p>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-01-ana-maria-garcia-barzelatto.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Ana Maria Garcia Barzelatto</p>
                <p class="expertos__subtitle">Presidente Comite</p>
                <p class="expertos__subtitle">Evolucion Politica</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-02-claudio-grossman-guillof.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Claudio Grossman Guillof</p>
                <p class="expertos__subtitle">Vicepresidente Comite</p>
                <p class="expertos__subtitle">Partido por la Democracia</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-03-victor-manuel-aviles-hernandez.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Victor Manuel Aviles Hernandez</p>
                <p class="expertos__subtitle">Partido Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-04-marcos-contreras-enos.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Marcos Contreras Enos</p>
                <p class="expertos__subtitle">Accion Humanista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-05-estefania-esparza-reyes.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Estefania Esparza Reyes</p>
                <p class="expertos__subtitle">Partido Radical</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-06-juan-carlos-ferrada-borquez.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Juan Carlos Ferrada Borquez</p>
                <p class="expertos__subtitle">Partido Socialista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-07-cecilia-flores-eterovic.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Cecilia Flores Eterovic</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-08-enrique-garcia-arancibia.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Enrique Garcia Arancibia</p>
                <p class="expertos__subtitle">Partido de la Gente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-09-tomas-jordan-diaz.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Tomas Jordan Diaz</p>
                <p class="expertos__subtitle">Partido Democrata Cristiano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-10-hector-mery-romero.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Hector Mery Romero</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-11-marisol-pena-torres.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Marisol Pena Torres</p>
                <p class="expertos__subtitle">Partido Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-12-viviana-ponce-de-leon-solis.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Viviana Ponce de-Leon Solis</p>
                <p class="expertos__subtitle">Frente Amplio</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-13-josefina-soto-larreategui.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Josefina Soto Larreategui</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/admisibilidad-14-julia-urquieta-olivares.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Julia Urquieta Olivares</p>
                <p class="expertos__subtitle">Partido Comunista</p>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>
    <div data-include="/includes/footer-nuevo.html"></div>
    <script type="text/javascript">
      document.getElementById("comision").onclick = function () {
        location.href = "/comision_expertos";
      };
      document.getElementById("consejo").onclick = function () {
        location.href = "/consejo_constitucional";
      };
    </script>
  </body>
</html>
