<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/assets/icons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Diciembre En Contra</title>
    <meta name="title" content="Diciembre En Contra" />
    <meta
      name="description"
      content="Un grupo de patriotas auto-convocados por la necesidad deducida de evitar la continua destruccion de Chile. Diciembre En Contra"
    />
    <meta
      name="keywords"
      content="Diciembre En Contra, Rechazo Nueva Constitucion, Coronel Martinez, Patriotas"
    />

    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Muchos Patriotas" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8;" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="canonical" href="http://www.diciembreencontra.cl/" />

    <meta http-equiv="Cache-Control" content="private" />
    <meta http-equiv="Cache-Control" content="max-age=86400" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <script type="module" src="/js/main.js"></script>
    <script src="/common/include.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V01PXY5R8J"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-V01PXY5R8J");
    </script>
  </head>
  <body>
    <div data-include="/includes/header-en-blanco.html"></div>
    <main>
      <div class="expertos">
        <div class="expertos__container">
          <div class="expertos__bloque">
            <p class="expertos__bloque__titulo">Comision de Expertos</p>
            <p class="expertos__bloque__subtitulo">
              (incluidas en Ley 21.533 del 17.01.2023)
            </p>
            <br />
            <!-- <p class="texto-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum
              libero fugiat similique officiis voluptatibus esse aspernatur
              magnam expedita? Excepturi sint similique eius expedita vel eaque
              soluta voluptate iusto provident eligendi. Sunt architecto, ipsa
              aut explicabo molestiae quo doloribus reiciendis blanditiis non
              voluptatum laudantium ab repudiandae voluptates. Quibusdam numquam
              mollitia voluptatum totam, nostrum accusantium iste. Quasi,
              tempore? Expedita ex harum quam
            </p> -->
          </div>
          <div>
            <button id="consejo" class="boton-generico2" type="button">
              Consejo Constitucional
            </button>
            <button id="comite" class="boton-generico2" type="button">
              Comite Admisibilidad
            </button>
          </div>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d24-veronica-undurraga-valdes.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Veronica Undurraga Valdes</p>
                <p class="expertos__subtitle">Presidente Comision</p>
                <p class="expertos__subtitle">Partido por la Democracia</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s23-sebastian-soto-velasco.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">sebastian-soto-velasco</p>
                <p class="expertos__subtitle">Vicepresidente Comision</p>
                <p class="expertos__subtitle">Partido Evolucion Politica</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d01-paz-anastasiadis-le-roy.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Paz Anastasiadis Le Roy</p>
                <p class="expertos__subtitle">Partido Democrata Cristiano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s02-jaime-arancibia-mattar.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Jaime Arancibia Mattar</p>
                <p class="expertos__subtitle">Partido Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d03-alexis-cortes-morales.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Alexis Cortes Morales</p>
                <p class="expertos__subtitle">Partido Comunista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d04-carlos-frontaura-rivera.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Carlos Frontaura Rivera</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s05-magaly-fuenzalida-colombo.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Magaly Fuenzalida Colombo</p>
                <p class="expertos__subtitle">Partido FRVS</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d06-natalia-gonzalez-banados.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Natalia Gonzalez Bañados</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s07-bettina-horst-von-thadden.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Bettina Horst Von Thadden</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s08-alejandra-krauss-valle.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Alejandra Krauss Valle</p>
                <p class="expertos__subtitle">Partido Democrata Cristiano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s09-catalina-lagos-tschorne.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Catalina Lagos Tschorne</p>
                <p class="expertos__subtitle">Partido Socialista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s10-hernan-larrain-matte.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Hernan Larrain Matte</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d11-domingo-lovera-parmo.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Domingo Lovera Parmo</p>
                <p class="expertos__subtitle">Partido Revolucion Democratica</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s12-katherine-martorell-awad.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Katherine Martorell Awad</p>
                <p class="expertos__subtitle">Partido Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s13-gabriel-osorio-vargas.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Gabriel Osorio Vargas</p>
                <p class="expertos__subtitle">Partido Socialista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d14-juan-jose-ossa-santa-cruz.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Juan Jose Ossa Santa Cruz</p>
                <p class="expertos__subtitle">Partido Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d15-maximo-pavez-cantillano.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Maximo Pavez Cantillano</p>
                <p class="expertos__subtitle">
                  Partido Union Democrata Independiente
                </p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d16-marcela-peredo-rojas.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Marcela Peredo Rojas</p>
                <p class="expertos__subtitle">Partido Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d17-flavio-quezada-rodriguez.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Flavio Quezada Rodriguez</p>
                <p class="expertos__subtitle">Partido Socialista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d19-antonia-rivas-palma.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Antonia Rivas Palma</p>
                <p class="expertos__subtitle">Frente Amplio</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s18-teodoro-rivera-neumann.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Teodoro Rivera Neumann</p>
                <p class="expertos__subtitle">Partido Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-d20-catalina-salem-gessel.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Catalina Salem Gessel</p>
                <p class="expertos__subtitle">Partido Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s21-leslie-sanchez-lobos.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Leslie Sanchez Lobos</p>
                <p class="expertos__subtitle">Partido por la Democracia</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/expertos-s22-francisco-soto-barrientos.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Francisco Soto Barrientos</p>
                <p class="expertos__subtitle">Partido por la Democracia</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </main>
    <div data-include="/includes/footer-nuevo.html"></div>
    <script type="text/javascript">
      document.getElementById("consejo").onclick = function () {
        location.href = "/consejo_constitucional";
      };
      document.getElementById("comite").onclick = function () {
        location.href = "/comite_admisibilidad";
      };
    </script>
  </body>
</html>
