<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/assets/icons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
      rel="stylesheet"
    /> -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Diciembre En Contra</title>
    <meta name="title" content="Diciembre En Contra" />
    <meta
      name="description"
      content="Un grupo de patriotas auto-convocados por la necesidad deducida de evitar la continua destruccion de Chile. Diciembre En Contra"
    />
    <meta
      name="keywords"
      content="Diciembre En Contra, Rechazo Nueva Constitucion, Coronel Martinez, Patriotas"
    />

    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Muchos Patriotas" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8;" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="canonical" href="http://www.diciembreencontra.cl/" />

    <meta http-equiv="Cache-Control" content="private" />
    <meta http-equiv="Cache-Control" content="max-age=86400" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <script type="module" src="/js/main.js"></script>
    <script src="/common/include.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V01PXY5R8J"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-V01PXY5R8J");
    </script>
  </head>
  <body>
    <div data-include="/includes/header-en-blanco.html"></div>
    <main>
      <section class="expertos">
        <div class="expertos__container">
          <div class="expertos__bloque">
            <p class="expertos__bloque__titulo">Consejo Constitucional</p>
            <p class="expertos__bloque__subtitulo">
              (incluidas en Ley 21.533 del 17.01.2023)
            </p>
            <br />
            <!-- <p class="texto-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum
              libero fugiat similique officiis voluptatibus esse aspernatur
              magnam expedita? Excepturi sint similique eius expedita vel eaque
              soluta voluptate iusto provident eligendi. Sunt architecto, ipsa
              aut explicabo molestiae quo doloribus reiciendis blanditiis non
              voluptatum laudantium ab repudiandae voluptates. Quibusdam numquam
              mollitia voluptatum totam, nostrum accusantium iste. Quasi,
              tempore? Expedita ex harum quam
            </p> -->
          </div>
          <div>
            <button id="comision" class="boton-generico2" type="button">
              Comision Expertos
            </button>
            <button id="comite" class="boton-generico2" type="button">
              Comite Admisibilidad
            </button>
          </div>

          <p class="expertos__parrafo">Consejeros Partido Republicano</p>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/consejo-I-republicano-ninoska-payauna.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Ninoska Payauna</p>
                <p class="expertos__subtitle">Tarapaca (I)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-I-republicano-sebastian-parraguez.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Sebastian Parraguez</p>
                <p class="expertos__subtitle">Tarapaca (I)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-II-republicano-carlos-solar.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Carlos Solar</p>
                <p class="expertos__subtitle">Antofagasta (II)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-II-republicano-carmen-montoya.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Carmen Montoya</p>
                <p class="expertos__subtitle">Antofagasta (II)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-III-republicano-paul-sfeir.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Paul Sfeir</p>
                <p class="expertos__subtitle">Atacama (III)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-IV-republicano-gloria-paredes.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Gloria Paredes</p>
                <p class="expertos__subtitle">Coquimbo (IV)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-V-republicano-antonio-barchiesi.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Antonio Barchiesi</p>
                <p class="expertos__subtitle">Valparaiso (V)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-V-republicano-maria-de-los-angeles-lopez.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Maria de los Angeles Lopez</p>
                <p class="expertos__subtitle">Valparaiso (V)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-RM-republicano-jorge-ossandon.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Jorge Ossandon</p>
                <p class="expertos__subtitle">Region Metropolitana (RM)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-RM-republicano-luis-silva.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Luis Silva</p>
                <p class="expertos__subtitle">Region Metropolitana (RM)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VI-republicano-sebastian-figueroa.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Sebastian Figueroa</p>
                <p class="expertos__subtitle">O'Higgins (VI)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VII-republicano-maria-gatica.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Maria Gatica</p>
                <p class="expertos__subtitle">Maule (VII)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VII-republicano-miguel-rojas.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Miguel Rojas</p>
                <p class="expertos__subtitle">Maule (VII)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VII-republicano-ricardo-ortega.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Ricardo Ortega</p>
                <p class="expertos__subtitle">Maule (VII)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VIII-republicano-aldo-sanhueza.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Aldo Sanhueza</p>
                <p class="expertos__subtitle">Biobio (VIII)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VIII-republicano-patricia-spoerer.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Patricia Spoerer</p>
                <p class="expertos__subtitle">Biobio (VIII)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-IX-republicano-mariela-fincheira.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Mariela Fincheira</p>
                <p class="expertos__subtitle">La Araucania (IX)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-IX-republicano-hector-urban.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Hector Urban</p>
                <p class="expertos__subtitle">La Araucania (IX)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-X-republicano-beatriz-hevia.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Beatriz Hevia</p>
                <p class="expertos__subtitle">Los Lagos (X)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-XII-republicano-claudia-mac-lean.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Claudia Mac Lean</p>
                <p class="expertos__subtitle">Magallanes (XII)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-XIV-republicano-jorge-de-la-maza.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Jorge De la Maza</p>
                <p class="expertos__subtitle">Los Rios (XIV)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-XVI-republicano-cecilia-medina.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Cecilia Medina</p>
                <p class="expertos__subtitle">Ñuble (XVI)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-xv-republicano-diego-vargas.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Diego Vargas</p>
                <p class="expertos__subtitle">Arica y Parinacota (XV)</p>
                <p class="expertos__subtitle">Partido Republicano</p>
              </div>
            </article>
          </div>

          <p class="expertos__parrafo">Consejeros Partido Socialista</p>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/consejo-III-socialista-marcela-araya.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Marcela Araya</p>
                <p class="expertos__subtitle">Atacama (III)</p>
                <p class="expertos__subtitle">Partido Socialista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-V-socialista-aldo-valle.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Aldo Valle</p>
                <p class="expertos__subtitle">Valparaiso (V)</p>
                <p class="expertos__subtitle">Partido Socialista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VI-socialista-miguel-littin.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Miguel Littin</p>
                <p class="expertos__subtitle">O'Higgins (VI)</p>
                <p class="expertos__subtitle">Partido Socialista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VII-socialista-christian-suarez.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Christian Suarez</p>
                <p class="expertos__subtitle">Maule (VII)</p>
                <p class="expertos__subtitle">Partido Socialista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-XIV-socialista-alejandro-kohler.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Alejandro Kohler</p>
                <p class="expertos__subtitle">Los Rios (XIV)</p>
                <p class="expertos__subtitle">Partido Socialista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-xv-socialista-jocelyn-ormeno.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Jocelyn Ormeño</p>
                <p class="expertos__subtitle">Ñuble (XVI)</p>
                <p class="expertos__subtitle">Partido Socialista</p>
              </div>
            </article>
          </div>

          <p class="expertos__parrafo">
            Consejeros Partido Union Democrata Independiente
          </p>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/consejo-IV-udi-ivon-guerra.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Ivon Guerra</p>
                <p class="expertos__subtitle">Coquimbo (IV)</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-V-udi-edmundo-eluchans.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Edmundo Eluchans</p>
                <p class="expertos__subtitle">Valparaiso (V)</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VII-udi-maria-claudia-jorquera.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Maria Claudia Jorquera</p>
                <p class="expertos__subtitle">Maule (VII)</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-IX-udi-arturo-phillips.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Arturo Phillips</p>
                <p class="expertos__subtitle">La Araucania (IX)</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-X-udi-carlos-recondo.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Carlos Recondo</p>
                <p class="expertos__subtitle">Los Lagos (X)</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-XVI-udi-carolina-navarrete.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Carolina Navarrete</p>
                <p class="expertos__subtitle">Ñuble (XVI)</p>
                <p class="expertos__subtitle">Union Democrata Independiente</p>
              </div>
            </article>
          </div>

          <p class="expertos__parrafo">
            Consejeros Partido Revolucion Democratica
          </p>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/consejo-II-rev-democratica-jose-gonzalez.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Jose Gonzalez</p>
                <p class="expertos__subtitle">Antofagasta (II)</p>
                <p class="expertos__subtitle">Revolucion Democratica</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VIII-rev-democratica-paloma-zuniga.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Paloma Zuñiga</p>
                <p class="expertos__subtitle">Biobio (VIII)</p>
                <p class="expertos__subtitle">Revolucion Democratica</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-IX-rev-democratica-kinturay-melin.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Kinturay Melin</p>
                <p class="expertos__subtitle">La Araucania (IX)</p>
                <p class="expertos__subtitle">Revolucion Democratica</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-XI-rev-democratica-julio-nanco.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Julio Ñanco</p>
                <p class="expertos__subtitle">Aysen (XI)</p>
                <p class="expertos__subtitle">Revolucion Democratica</p>
              </div>
            </article>
          </div>

          <p class="expertos__parrafo">
            Consejeros Partido Convergencia Social
          </p>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/consejo-V-conv-social-maria-soledad-pardo.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Maria Soledad Pardo</p>
                <p class="expertos__subtitle">Valparaiso (V)</p>
                <p class="expertos__subtitle">Convergencia Social</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-RM-cons-social-yerko-ljubetic.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Yerko Ljubetic</p>
                <p class="expertos__subtitle">Region Metropolitana (RM)</p>
                <p class="expertos__subtitle">Convergencia Social</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-X-conv-social-nancy-marquez.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Nancy Marquez</p>
                <p class="expertos__subtitle">Los Lagos (X)</p>
                <p class="expertos__subtitle">Convergencia Social</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-XII-conv-social-jessica-bengoa.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Jessica Bengoa</p>
                <p class="expertos__subtitle">Magallanes (XII)</p>
                <p class="expertos__subtitle">Convergencia Social</p>
              </div>
            </article>
          </div>

          <p class="expertos__parrafo">
            Consejeros Partido Renovacion Nacional
          </p>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/consejo-VI-ren-nacional-ivonne-mangelsdorff.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Ivonne Mangelsdorff</p>
                <p class="expertos__subtitle">O'Higgins (VI)</p>
                <p class="expertos__subtitle">Partido Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-IX-ren-nacional-german-becker.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">German Becker</p>
                <p class="expertos__subtitle">La Araucania (IX)</p>
                <p class="expertos__subtitle">Partido Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-XI-ren-nacional-pilar-cuevas.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Pilar Cuevas</p>
                <p class="expertos__subtitle">Aysen (XI)</p>
                <p class="expertos__subtitle">Renovacion Nacional</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-XIV-ren-nacional-lorena-gallardo.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Lorena Gallardo</p>
                <p class="expertos__subtitle">(XIV)</p>
                <p class="expertos__subtitle">Renovacion Nacional</p>
              </div>
            </article>
          </div>

          <p class="expertos__parrafo">Consejeros Partido Comunista</p>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/consejo-IV-comunista-fernando-viveros.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Fernando Viveros</p>
                <p class="expertos__subtitle">Coquimbo (IV)</p>
                <p class="expertos__subtitle">Partido Comunista</p>
              </div>
            </article>
            <article class="expertos__card">
              <img
                src="assets/images/consejo-RM-comunista-karen-araya.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Karen Araya</p>
                <p class="expertos__subtitle">Region Metropolitana (RM)</p>
                <p class="expertos__subtitle">Partido Comunista</p>
              </div>
            </article>
          </div>

          <p class="expertos__parrafo">Consejeros Partido Evolucion Politica</p>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/consejo-RM-evopoli-gloria-hutt.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Gloria Hutt</p>
                <p class="expertos__subtitle">Region Metropolitana (RM)</p>
                <p class="expertos__subtitle">Evolucion Politica</p>
              </div>
            </article>
          </div>

          <p class="expertos__parrafo">Consejeros Pueblos Indigenas</p>

          <div class="expertos__content">
            <article class="expertos__card">
              <img
                src="assets/images/consejo-PO-Alihuen-Antileo.jpg"
                alt="expertos image"
                class="expertos__img"
              />
              <div class="expertos__modal">
                <p class="expertos__title">Alihuen Antileo</p>
                <p class="expertos__subtitle">Pueblos Indigenas</p>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>
    <div data-include="/includes/footer-nuevo.html"></div>
    <script type="text/javascript">
      document.getElementById("comision").onclick = function () {
        location.href = "/comision_expertos";
      };
      document.getElementById("comite").onclick = function () {
        location.href = "/comite_admisibilidad";
      };
    </script>
  </body>
</html>
