<section class="bordes section" id="bordes">
  <div class="bordes__container">
    <div class="bordes__bloque">
      <p class="bordes__bloque__titulo">
        Bases Institucionales del Acuerdo por Chile
      </p>
      <p class="bordes__bloque__subtitulo">
        (incluidas en Ley 21.533 del 17.01.2023)
      </p>
      <br />
      <!-- <p class="texto-sm">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum libero
        fugiat similique officiis voluptatibus esse aspernatur magnam expedita?
        Excepturi sint similique eius expedita vel eaque soluta voluptate iusto
        provident eligendi. Sunt architecto, ipsa aut explicabo molestiae quo
        doloribus reiciendis blanditiis non voluptatum laudantium ab repudiandae
        voluptates. Quibusdam numquam mollitia voluptatum totam, nostrum
        accusantium iste. Quasi, tempore? Expedita ex harum quam
      </p> -->
    </div>
  </div>
  <div class="bordes__container container grid">
    <article class="bordes__card">
      <img
        src="assets/images/project-img-1.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 1</span>
        <p class="bordes__title">Soberania reside en el Pueblo</p>
        <a href="/borde_01" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-2.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 2</span>
        <p class="bordes__title">Estado unitario y descentralizado</p>
        <a href="/borde_02" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-3.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 3</span>
        <p class="bordes__title">Subordinacion a Tratados Internacionales</p>
        <a href="/borde_03" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-4.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 4</span>
        <p class="bordes__title">
          Reconocimiento a Cultura y Derechos de pueblos indigenas
        </p>
        <a href="/borde_04" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-5.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 5</span>
        <p class="bordes__title">Estado Social y Democratico de Derechos</p>
        <a href="/borde_05" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-6.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 6</span>
        <p class="bordes__title">Emblemas Nacionales</p>
        <a href="/borde_06" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-1.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 7</span>
        <p class="bordes__title">
          Poder Ejecutivo, Poder Judicial y Poder Legislativo
        </p>
        <a href="/borde_07" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-2.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 8</span>
        <p class="bordes__title">
          Organos autonomos (Banco Central, justicia electoral, Ministerio
          Publico, Contraloria)
        </p>
        <a href="/borde_08" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-3.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 9</span>
        <p class="bordes__title">Derechos y Libertades fundamentales</p>
        <a href="/borde_09" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-4.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 10</span>
        <p class="bordes__title">
          Fuerzas Armadas y Fuerzas de Orden y Seguridad
        </p>
        <a href="/borde_10" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-6.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 11</span>
        <p class="bordes__title">Estados de Excepcion</p>
        <a href="/borde_11" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
    <article class="bordes__card">
      <img
        src="assets/images/project-img-6.jpg"
        alt="bordes image"
        class="bordes__img"
      />
      <div class="bordes__modal">
        <span class="bordes__subtitle">Borde Nro. 12</span>
        <p class="bordes__title">Medioambientales</p>
        <a href="/borde_12" class="bordes__button"
          >ver detalles
          <i class="ri-external-link-line"></i>
        </a>
      </div>
    </article>
  </div>
</section>
