<div class="footer bg-gris-medio">
  <section class="nav__center">
    <section>
      <article>
        <label class="titulo fc-white">Terminos de Uso</label>
        <hr class="subrayado" />
      </article>
      <article class="nav__center__list">
        <a href="/privacidad">
          <p class="navlink__sm fc-white">Privacidad</p>
        </a>
        <a href="/seguridad">
          <p class="navlink__sm fc-white">Seguridad</p>
        </a>
        <a href="/terminos_uso">
          <p class="navlink__sm fc-white">Terminos y Condiciones</p>
        </a>
      </article>
    </section>

    <section>
      <article>
        <label class="titulo fc-white">Encuentranos en:</label>
        <hr class="subrayado" />
      </article>
      <article>
        <div data-include="/layout/rrss.html"></div>
      </article>
    </section>
  </section>
</div>
