<div class="header">
  <div class="header__container">
    <div class="header__content">
      <div class="header__logo">
        <a href="/">
          <img
            src="/assets/images/logo.png"
            alt="logo"
            class="header__img__logo"
          />
        </a>
        <div class="header__titulo">
          <p>Diciembre</p>
          <p>En</p>
          <p>Contra</p>
        </div>
      </div>
      <div class="header__seccion-vinculos">
        <div>
          <a href="/mision_vision" class="header__vinculo">Mision y Vision</a>
        </div>
        <div>
          <a href="/quienes_somos" class="header__vinculo">Quienes somos</a>
        </div>
        <div>
          <a href="/contacto" class="header__vinculo">Contacto</a>
        </div>
      </div>
    </div>
  </div>
</div>
