<div class="toggle">
  <i class="fa-solid fa-bars"></i>
</div>
<div class="navigation">
  <ul>
    <li class="list active">
      <b></b>
      <b></b>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-home"></i>
        </span>
        <span class="title">Home</span>
      </a>
    </li>
    <li class="list">
      <b></b>
      <b></b>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-user"></i>
        </span>
        <span class="title">Profile</span>
      </a>
    </li>
    <li class="list">
      <b></b>
      <b></b>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-comments"></i>
        </span>
        <span class="title">Messages</span>
      </a>
    </li>
    <li class="list">
      <b></b>
      <b></b>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-cog"></i>
        </span>
        <span class="title">Settings</span>
      </a>
    </li>
    <li class="list">
      <b></b>
      <b></b>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-question"></i>
        </span>
        <span class="title">Help</span>
      </a>
    </li>
    <li class="list">
      <b></b>
      <b></b>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-unlock"></i>
        </span>
        <span class="title">Password</span>
      </a>
    </li>
    <li class="list">
      <b></b>
      <b></b>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-sign-out-alt"></i>
        </span>
        <span class="title">Sign Out</span>
      </a>
    </li>
  </ul>
</div>
