<div class="franjas__left">
  <p class="titulo-lg fc-white">Terminos y Condiciones de Uso</p>
  <hr />
  <section class="nav__left bg-azul">
    <article class="nav__left__list fc-white">
      <a href="/terminos_uso" class="navlink__md">Introduccion </a>
      <a href="/terminos_aceptacion_terminos" class="navlink__md"
        >Aceptacion de nuestros terminos
      </a>
      <a href="/terminos_codigo_conducta" class="navlink__md"
        >Codigo de Conducta
      </a>
      <a href="/terminos_contratacion_servicios" class="navlink__md"
        >Contratacion de Servicios
      </a>
      <a href="/terminos_derecho_monitoreo" class="navlink__md"
        >Derecho de Monitoreo
      </a>
      <a href="/terminos_derechos_propiedad" class="navlink__md"
        >Derechos de Propiedad
      </a>
      <a href="/terminos_foros_publicos" class="navlink__md">Foros Publicos </a>
      <a href="/terminos_informacion_privada" class="navlink__md"
        >Informacion Privada
      </a>
      <a href="/terminos_legislacion_aplicable" class="navlink__md"
        >Legislacion Aplicable
      </a>
      <a href="/terminos_licencia_limitada" class="navlink__md"
        >Licencia Limitada
      </a>
      <a href="/terminos_limitacion_responsabilidad" class="navlink__md"
        >Limitacion Responsabilidad
      </a>
      <a href="/terminos_marcas_comerciales" class="navlink__md"
        >Marcas Comerciales
      </a>
      <a href="/terminos_modificaciones_sitio" class="navlink__md"
        >Modificaciones al Sitio
      </a>
      <a href="/terminos_obligaciones_usuarios" class="navlink__md"
        >Obligaciones de los Usuarios
      </a>
      <a href="/terminos_politica_ideas" class="navlink__md"
        >Politicas de Ideas
      </a>
      <a href="/terminos_prohibicion_uso" class="navlink__md"
        >Prohibicion de Uso
      </a>
      <a href="/terminos_propiedad_industrial" class="navlink__md"
        >Propiedad Industrial
      </a>
      <a href="/terminos_renuncia_garantia" class="navlink__md"
        >Renuncias a Garantias
      </a>
      <a href="/terminos_responsabilidad_portal" class="navlink__md"
        >Responsabilidad del Portal
      </a>
      <a href="/terminos_terminos" class="navlink__md">Terminos </a>
      <a href="/terminos_vinculos_sitios" class="navlink__md"
        >Vinculos a Sitios
      </a>
    </article>
  </section>
</div>
