<div class="franjas__left">
  <p class="titulo-lg fc-white">Seguridad de Clave de Internet</p>
  <hr />
  <section class="nav__left bg-azul">
    <article class="nav__left__list fc-white">
      <a href="/seguridad_introduccion" class="navlink__md">Introduccion </a>
      <a href="/seguridad_clave" class="navlink__md">Seguridad Clave </a>
      <a href="/seguridad_compromiso" class="navlink__md">Compromiso </a>
      <a href="/seguridad_resguardo" class="navlink__md">Resguardo </a>
    </article>
  </section>
</div>
